[2019-07-16 12:44] Tamriel opened #68 "Support polymorphism"
The following example is found in the chapter **Composition and Inheritance (Polymorphism)** of the [specification](https://www.asyncapi.com/docs/specifications/2.0.0-rc1/).

Current behavior in the generated html: If `Pet` is used in a message payload, only the attributes of the Pet class are shown.

My desired behavior: A dropdown is shown next to the attribute `petType`. It has the entries `Cat

[2020-04-09 23:16] naderafshari opened #5 "tags not rendered in Message Object"
Tags are rendered in Operations Objects (at the bottom of the section as dark boxes) but they do not seem to be rendered for Message objects. Attached is a screenshot of using tags in a message.

![asyncAPIplayground1](https://user-images.githubusercontent.com/18668042/78948488-5a238780-7a7d-11ea-9d53-79b35fb22955.png)

[2020-04-09 23:32] naderafshari opened #6 "externalDocs are not rendered"
It appears that externalDocs is not rendered in any of the Objects - Operations, Message, Tag etc.
The externalDocs object has a description and a url field (no name field). One way to implement this would be to make the description into a hyperlink pointing to the url. Another way would be to render a button showing the name of the parent object (for example, the name of the parent tag - after ta

[2020-04-12 17:15] derberg commented on #5
@naderafshari how do you see it renders, I quickly mocked something like
<img width="505" alt="Screenshot 2020-04-12 at 19 14 13" src="https://user-images.githubusercontent.com/6995927/79075235-e0e09a80-7cf1-11ea-9af9-6650961c9360.png">

on hover over `test1` you would see a tooltip with description. What do you think?

[2020-04-13 02:16] naderafshari commented on #5
Looks great to me thank you @derberg

[2020-04-13 09:31] derberg opened #7 "bearerFormat value in securitySchemes has last character trimmed off unless it is followed by a newline."
@joshg2k commented on [Thu Aug 22 2019](https://github.com/asyncapi/playground/issues/9)

<img width="722" alt="Screen Shot 2019-08-21 at 15 03 56" src="https://user-images.githubusercontent.com/4231004/63464835-ac983100-c425-11e9-8e61-794d119d9f9d.png">

For example:

      JWTAuth:
      type: http
      scheme: bearer
      bearerFormat: jwt(EOF)

...results in "jw" being displayed in preview p

[2020-04-15 13:14] derberg commented on #5
@naderafshari please have a look and test this PR https://github.com/asyncapi/html-template/pull/8

[2020-04-15 13:15] derberg commented on #6
Please test and review this PR https://github.com/asyncapi/html-template/pull/8

[2020-04-16 09:55] #6 closed

[2020-04-16 09:58] derberg commented on #5
Fixed by https://github.com/asyncapi/html-template/pull/8

[2020-04-16 09:58] #5 closed

[2020-04-23 03:48] jamescrowley opened #11 "allOf rendered in an unexpected way"
#### Describe the bug

I'm not sure if this is a bug or not, but for me, allOf is rendered in an unexpected way when used in the message payload. Can you confirm if this is deliberate or not? If not, I'll look to fix.

#### How to Reproduce

[code]

<img width="789" alt="Screenshot 2020-04-23 at 13 47 24" src="https://user-images.githubusercontent.com/509533/80057011-f8791800-8568-11ea-925b-f34133

[2020-04-23 12:19] derberg commented on #11
Makes sense, this is the part of the template responsible for schema -> https://github.com/asyncapi/html-template/blob/master/partials/schema-prop.html

[2020-04-25 22:57] InTheCloudDan opened #12 "JSON Map not rendering"
#### Describe the bug
Trying to get a map to render it throws an error. It could be my misunderstanding but I found a similar setup for an openapi spec that seems to be working.

[code]

#### How to Reproduce
Steps to reproduce the issue. Attach all resources that can help us understand the issue:
[code]

Edit: I've made some progress editing this line. https://github.com/asyncapi/html-template/bl

[2020-04-26 06:30] jamescrowley commented on #11
This may not have the use case I expected, due to the fact that allOf requires the message to validate the schema of each (as opposed to extend them), and as such you may need to understand the individual elements as a consumer.

See https://stackoverflow.com/questions/22689900/json-schema-allof-with-additionalproperties. I'll investigate this further.

[2020-04-26 06:46] jamescrowley opened #14 ""Welcome first time contributors" CI step fails for first time contributors"
#### Describe the bug

When opening a PR for the first time, the build fails due to the 'welcome first time contributors' step.

#### How to Reproduce

See https://github.com/asyncapi/html-template/runs/619246280 . I'm guessing something to do with the API permissions to trigger the ``[error]Resource not accessible by integration`` error

#### Expected behavior

This shouldn't fail.

[2020-04-26 06:54] jamescrowley commented on #7
Tried to reproduce this using the following async schema but was unable.

[code]

[2020-04-26 07:00] jamescrowley commented on #12
@InTheCloudDan I've been working in a similar area. additionalProperties() is permitted to be a boolean, or an object (hence the case for additionalProperties == true).

Your example has myProperty twice, and it would be helpful to see the definition of `testObject`. Can you post an example of the full schema?

[2020-04-26 13:32] InTheCloudDan commented on #12
@jamescrowley thanks I see you're right! It ended up being user error on my part! Is there any examples of having the tempate render out something other than `(property name)`? I haven't been successful in that.

[2020-04-26 13:49] jamescrowley commented on #12
@InTheCloudDan you won't be able to, as far as I know, as there's no way to specify property names in additionalProperties.

from https://json-schema.org/understanding-json-schema/reference/object.html :

So using additionalProperties, you specify the type they have to comply with, but not the names themselves.

[2020-04-26 13:55] InTheCloudDan commented on #12
Thanks for pointing that out! I was just hoping to generate a bit more pointed example than `property1` `property2` for users to see, but this has been great to work with!

[2020-04-26 13:55] #12 closed

[2020-04-26 21:00] InTheCloudDan opened #15 "x-parser-schema-id getting rendered in html docs"
#### Describe the bug
HTML Template example is getting rendered with `x-parser-schema-id: null`. The docs just render with the word `x-parser-schema-id`

#### How to Reproduce
[code]
under messages I have:

[code]

- Screenshots
![image](https://user-images.githubusercontent.com/10308834/80319603-48611480-87df-11ea-81c8-a1427ed359a9.png)

#### Expected behavior
That `x-parser-schema-id` doesn't re

[2020-04-26 23:19] jamescrowley commented on #11
Some potential code here: https://github.com/jamescrowley/html-template/tree/flattenAllOf2

[2020-04-27 00:01] InTheCloudDan commented on #11
Just adding a 👍 here from conversation on Slack. I'm looking for this feature also. My current usage is pretty basic though and I haven't done any interacting with `allOf` and `additionalProperties` so not sure on the best approach to handling them.

[2020-04-27 19:49] derberg commented on #11
@jamescrowley yeap, looking at https://json-schema.org/understanding-json-schema/reference/combining.html#id5 looks like there is no other option but flatten only if `"additionalProperties": false` is not present. Pretty complicated case as maybe there are other combinations too.

I checked quickly with OpenAPI and the swagger UI is flattening always

[2020-04-27 19:50] derberg commented on #7
@jamescrowley thanks for checking, you're right, closing

[2020-04-27 19:50] #7 closed

[2020-04-28 06:52] derberg commented on #14
Unfortunately we cannot do to much here 😞  It fails only once with first interaction because GitHub Actions do not support PRs from forks the same way as from the upstream branch.

I described this limitation here: https://dev.to/derberg/github-actions-when-fascination-turns-into-disappointment-4d75

I hope they announce a good fix soon https://githubsatellite.com/ otherwise we will have to think

[2020-04-28 08:11] jamescrowley commented on #14
@derberg That does seem like a significant flaw! I'm presuming they are tripping over the same issues on normal CI that you don't usually want to expose secrets to untrusted forks. I'll close the issue :)

[2020-04-28 08:11] #14 closed

[2020-04-28 14:19] derberg opened #19 "[HTML template] Ability to auto-expand message schema"
@davydog187 commented on [Wed Jan 22 2020](https://github.com/asyncapi/generator/issues/202)

Hello and thank you for this great project!

# The Problem
I have nested payload structures that are 3-4 levels deep, and it is cumbersome to keep clicking to view the schema.

# Potential Solution
It would be nice if there was an option in the generator that has nested structures auto-expanded, maybe wit

[2020-04-28 19:33] naderafshari commented on #19
Hi All @here
This issue is very important to us as we have a number of messages with a large set of fields and nested and complex schema. Browsing through the html page going from one message to the next, not so practical!

I believe the react component (https://github.com/asyncapi/asyncapi-react) has this feature already. It would be great that html-template follows suit.

Also in each message th

[2020-04-29 12:26] davydog187 commented on #19
Unfortunately, I don't think I will be able to address this issue anytime soon. @naderafshari I encourage you to take a stab at it!

[2020-05-07 18:02] InTheCloudDan commented on #11
Any update on this one? It would be useful feature to me.

[2020-05-07 19:23] derberg commented on #11
@InTheCloudDan have a look on the thread in this PR https://github.com/asyncapi/html-template/pull/16 from @jamescrowley. We are pretty much stuck there, appriciate your input into discussion.

[2020-05-13 06:53] derberg opened #23 "Fold long examples"
@Tamriel commented on [Wed Jul 17 2019](https://github.com/asyncapi/generator/issues/72)

When you have long examples, they take up so much space in the right column, that in the middle column there will be very much white space between one operation to the next.

The OpenApi html generator [ReDoc](https://redocly.github.io/redoc/#operation/findPetsByStatus) solves this by folding the examples. Th

[2020-05-13 07:38] derberg opened #24 "[HTML template] Syntax highlight code in codeblocks"
@davydog187 commented on [Wed Mar 04 2020](https://github.com/asyncapi/generator/issues/240)

# Feature Request

Similar to Github style markdown, it would be awesome to be able to annotate code in markdown and have the generator make sure it highlighted it.

e.g.

[code]

[code]

I'd love for this to show up syntax highlighted as it would in Github.

[code]

[code]

I haven't checked, but I assum

[2020-05-13 07:43] derberg opened #25 "[Feature request] Make generator html/markdown support bindings"
@karlwbrown commented on [Mon Dec 09 2019](https://github.com/asyncapi/generator/issues/192)

Currently, any bindings provided seem to be left out of the HTML/Markdown.

Even if we aren't doing any validation on them, it would be valuable IMO to have the HTML/Markdown include these bindings, specified as such and basically copied as-is from the schema.

This way, if you specify some bindings in yo

[2020-05-13 07:46] derberg opened #26 "Parameter description does not render in resulting output with html template"
@maxs commented on [Thu Mar 12 2020](https://github.com/asyncapi/generator/issues/249)

In the folowing example `description` field won't be rendered in resulting output because it is not taken from the parameter `toy` but the `schema`.  This means, to have `description`  rendered, we would have to put `description` under `schema` block which is not intended behavior.

[code]

---

@github-actions

[2020-05-13 08:17] derberg opened #27 "[FEATURE REQUEST] enum names"
@p3root commented on [Mon Aug 26 2019](https://github.com/asyncapi/generator/issues/101)

**Is your feature request related to a problem? Please describe.**
![image](https://user-images.githubusercontent.com/4295914/63694078-eb5b2c00-c815-11e9-85e9-f544f053fb2d.png)
Enumermations which are serialized as integer have no meaning to the user of the api.

**Can't it be tackled using specification exte

[2020-05-13 08:19] derberg opened #28 "Header name should default to Authorization when auth type is http"
@fmvilas commented on [Wed Jan 22 2020](https://github.com/asyncapi/generator/issues/201)

**Applies to:** HTML and Markdown templates.

---

Given this security definition:

[code]

It's not possible to define the name of the header but the default value "Authorization" should be shown. At least until we fix [this](https://github.com/asyncapi/asyncapi/issues/307). Currently, we got this:

![image

[2020-05-22 09:38] WaleedAshraf commented on #11
I also have this problem. But for now, we are okay with two schemas in the view. In our case, first schema is always the same for all the messages, So, it's better hidden.
Mostly we are only interested in seeing the second part.

I think best solution will be if on top somewhere, we can provide checkboxes
- [ ] merge allOf schemas
- [ ] expand all schemas
- [ ] collapse all schemas

[2020-05-22 09:41] WaleedAshraf opened #29 "list all messages in side bar"
We have a lot of messages under one channel. It's good to have list of all messages, linked to there reference in the schema. We had this available in the old HTML template, but not in the new one.

![image](https://user-images.githubusercontent.com/8335457/82654461-121d8600-9c21-11ea-87d7-0b15e5956122.png)

- What changes have to be introduced: List all messages after listing channels
- Will this

[2020-05-22 09:49] WaleedAshraf commented on #23
@derberg check here for an example: https://redocly.github.io/redoc/#tag/pet
I'll try a take on this.

[2020-05-24 22:36] jemerald opened #35 "Error: filter not found: markdown2html"
#### Describe the bug
Version 0.7.0 errors with

[code]

#### How to Reproduce

Happens both on console

[code]

or using code

[code]

#### Expected behavior

Should work and generate HTML. Version 0.6.0 worked fine.

[2020-05-25 07:16] derberg commented on #35
Hi @jemerald
What version of generator do you use?
Run `ag --version`. I recommend to use latest `0.50.0`

To upgrade just run `npm i @asyncapi/generator`

[2020-05-25 21:48] jemerald commented on #35
Thanks @derberg that worked 😄

[2020-05-25 21:48] #35 closed

[2020-06-01 16:21] #23 closed

[2020-06-02 10:56] #29 closed

[2020-06-02 11:29] schw4rzlicht opened #39 "Use message.uid() rather than optional message.name()"
#### Reason/Context
More a cleanup proposal/discussion towards how message names are rendered in the resulting HTML according to [this PR](https://github.com/asyncapi/markdown-template/pull/28) in the `markdown-template`.

#### Description

https://github.com/asyncapi/html-template/blob/03eb7dd360d19f85bd143bd7ef643c8d11e04496/partials/message.html#L11-L20

This block would need to be changed to u

[2020-06-02 12:03] derberg commented on #39
Do you mean removing `message.title()` too? or just replace `message.name()` with `message.uid()`?

I like we treat title here as a first-level citizen, would be nice to have it in a place where you just contributed  in markdown template

[2020-06-02 17:23] schw4rzlicht commented on #39
Probably replacing `message.name()` with message.uid()` does the job already.

[2020-06-02 17:34] derberg commented on #39
yeap, I wanted to confirm you do not want to remove the title 😄
you wanna openup a PR for that?

[2020-06-03 07:10] #39 closed

[2020-06-04 11:30] sebastian-palma opened #42 "Sidebar partial use document root tags, not operation tags"
Currently the sidebar is iterating over each element in `asyncapi.tags()` and checking if that tag name is in the channel tags (publish/subscribe) when they have tags:

[code]

But that means you need strictly to have the same tags you have in every channel, at the root of the document. Otherwise, they're all rendered as Untagged.

In an example code like [this](https://gist.github.com/sebastian-p

[2020-06-05 12:48] derberg commented on #42
@fmvilas do you recall why `asyncapi.tags()` was added to the logic that builds tag left nav? when I look at it, it seems to me it could never work

[2020-06-05 17:49] fmvilas commented on #42
This was the initial issue: https://github.com/asyncapi/generator/issues/69. It's another way to structure the sidebar.

[2020-06-09 08:46] sebastian-palma commented on #42
Do we consider adding a way to render tags without having them in the root of the document? Or do we close the issue in favor of keeping the current functioning @fmvilas, @derberg?

[2020-06-09 13:36] derberg commented on #42
tbh I would not like to force spec writer to add tags to the root only to satisfy the html-template.

I understand that current implementation is done like this as it was just easier at that time to implement, so the user can "model" the navigation structure with the root tags.

I like the approach that root tags are not needed, that we just have a filter that first iterates over all channels to b

[2020-06-11 12:34] sebastian-palma commented on #42
I think that the easier for this is to add a new parameter, and as you say @derberg, just map every operation tag using filters. Don't know what you guys think, should we take this?

[2020-06-11 17:11] HellPat opened #43 "[FEATURE REQUEST] Code-Samples for HTTP-Bindings"
#### Reason/Context
Please try answering few of those questions
- Why we need this improvement?
- How will this change help?
- What is the motivation?

As mentioned on [Twitter](https://twitter.com/fmvilas/status/1271124704909299713) it would be cool to generate Code-Samples depending on the bindings.

It would help developers to gain even more development speed when the examples are not only
the

[2020-06-12 06:48] derberg commented on #42
let's do it, @fmvilas as you were involved in the first version of the nav building, any objections or different ideas? we do not want to offend you ❤️ or do we :trollface:

[2020-06-12 07:49] fmvilas commented on #42
Haha! I'm fine as long as it makes sense. Pinging @rv0 as he was the one suggesting this feature.

[2020-06-12 08:08] rv0 commented on #42
thanks @fmvilas for the heads up
No objections here, seems like the way forward

[2020-07-10 10:13] kurrata commented on #15
I have the same issue.
When using [playground](https://playground.asyncapi.io/?utm_source=editor&utm_medium=editor-topbar&utm_campaign=playground) meta information is added to html output when chaining references it seems
It can be seen in containerCreateResponse while containerCreateRequest  doesn't have it

yaml file
[code]

Generated bad section
[code]

[2020-07-13 05:54] mekras commented on #25
This issue is still actual.

[2020-08-02 10:29] fmvilas opened #50 "[BUG] Scalar types are shown as expandable when they aren't"
#### Describe the bug
Scalar types like `String`, `Int`, `Boolean`, etc. are shown as "expandable" when there's nothing to "expand".

![](http://g.recordit.co/CYvgxXShoQ.gif)

#### How to Reproduce
Check out [playground.asyncapi.io]() with Streetlights example.

#### Expected behavior
They shouldn't show the "expand" arrow button.

[2020-08-03 18:16] fmvilas opened #51 "Unify HTML template and React component"
#### Reason/Context
Currently, we're maintaining this HTML template and the [React component](https://github.com/asyncapi/asyncapi-react). They both serve the same purpose, displaying docs in a browser.

It would be great to unify both somehow so we don't have to maintain the two. Here are my proposals:

##### Generate the HTML template from the React component using Server-Side Rendering (SSR)

R

[2020-08-10 05:02] derberg commented on #15
`x-parser-schema-id` is added by the parser to every schema that has no schema id and it is needed purely for code generation. I totally agree it should not be rendered in docs. Is anyone interested in contributing this functionality? I can help pointing out where it needs to be done.

[2020-08-10 17:17] derberg commented on #51
From my perspective we for sure need to make sure that react component should be usable without react to get wider adoption. We could product official bundle, similar to the one created by the community and described here -> https://github.com/asyncapi/asyncapi/issues/391

for the html template replacement, I like the idea to do it as Nextjs and Gatsby are doing with react when you use they to gen

[2020-08-17 12:26] #42 closed

[2020-08-20 05:22] derberg opened #55 "Support for empty payload"
@rv0 commented on [Wed Aug 19 2020](https://github.com/asyncapi/generator/issues/400)

#### Description

"payload" is not mandatory, therefore it can be empty or just left out completely.
However when you do this, the rendering will fail with an unclear error (at least with html-template)

#### How to Reproduce
Remove payload from a message in the streetlights example.

#### Expected behavior
Rend

[2020-08-20 05:29] derberg commented on #55
Would be awesome to get some support here, a pretty easy one to fix.
This line https://github.com/asyncapi/html-template/blob/56b5d9933a81378f539fbe0f6a3f5ddd5a8c30f7/partials/message.html#L23 should be wrapped in an `if` statement like:

[code]

it is already handled nicely in the `markdown-template` https://github.com/asyncapi/markdown-template/blob/master/partials/message.md and same for this `

[2020-08-20 13:33] rv0 opened #56 "Contact email link is rendered wrong"
#### Describe the bug
The email link in the generated document is wrong.

#### How to Reproduce

Add contact info to the info section

[code]

And render.. The email "link" will be created without "mailto:" prefix, making it a (failing) http link.

#### Expected behavior

The link should be a _mailto:_ link

#### Additional info

The same issue also happens on the playground website.

[2020-08-27 04:34] stevenj opened #57 "Simple leaf properties are shown as expandable"
#### Describe the bug
Simple properties that have no children are shown as expandable.

#### How to Reproduce
So i have a field defined like so:

[code]
which is rendering in the generated HTML like so:
- Screenshots
![image](https://user-images.githubusercontent.com/764829/91384628-46749400-e859-11ea-99ae-7096e09ab0d0.png)

![image](https://user-images.githubusercontent.com/764829/91384542-1cbb6d

[2020-08-27 07:45] fmvilas commented on #57
Thanks for reporting, @stevenj. I'm closing this issue since it's a duplicate of https://github.com/asyncapi/html-template/issues/50. Let's continue conversation there. Thanks!

[2020-08-27 07:45] #57 closed

[2020-08-27 11:02] stevenj commented on #50
Yes, this also seems relatively new, i didn't notice it until i upgraded the HTML generator yesterday.

[2020-09-08 11:44] kostisthomaidis opened #58 "Missing elements from deeply nested objects"
#### Describe the bug
Hi everyone! We are developing a car dealership application and we are trying to incorporate AsyncAPI to our stack.
Using the AsyncAPI Playground to test the file, I found that some nested objects (3 levels deep) were not created in full.
After cloning the project and debugging locally, I traced that the file was properly parsed and could find it as context up to this point i

[2020-09-08 14:47] fmvilas commented on #58
Hey @kostisthomaidis! I found the problem here. It's actually a bug on your AsyncAPI definition:

[code]

You're missing the `properties` key here. It should be:

[code]

The reason it's not failing is that it's not illegal to place disparate fields on a JSON Schema object.

Hope it helps!

[2020-09-08 14:47] #58 closed

[2020-09-09 07:43] kostisthomaidis commented on #58
Thank you so much for your swift reply! This indeed fixes the issue!

[2020-09-10 08:06] GordeevArt opened #59 "Examples should be in a message instead of payload by async-api 2.0.0 specifications"
Examples should be in a message instead of payload by async-api 2.0.0 specifications

https://www.asyncapi.com/docs/specifications/2.0.0/#messageObjectExamples

* Add examples tag with value `- "test": '{"command": "off", "sentAt": "2020-09-10T10:47:22Z"}'` in message into test **asyncapi.yml** file.
[asyncapi.yml.txt](https://github.com/asyncapi/html-template/files/5200038/asyncapi.yml.txt)
* Run

[2020-09-10 09:48] derberg commented on #59
@GordeevArt thanks so much for reporting it.

To fix it, `getPayloadExamples` function must be fixed in [here](https://github.com/asyncapi/generator-filters/blob/master/src/customFilters.js#L40). This function must return an example that is later used [here](https://github.com/asyncapi/html-template/blob/master/partials/example.html#L17-L21) in the template.

@fmvilas do you recall why `payload` p

[2020-09-10 12:53] GordeevArt commented on #59
It works for me if I set example value to `- "payload": {"command": "off", "sentAt": "2020-09-10T10:47:22Z"}`

[2020-09-10 14:40] flokasper opened #60 "Bindings are ignored"
#### Describe the bug

I am trying to document my websocket, I am using this [asyncapi.yaml](https://github.com/fmvilas/asyncapi-websockets-example/blob/master/asyncapi.yaml) as reference:
[code]

The bindings part never showed up in the generated files

#### How to Reproduce
I used:
- [CLI usage with docker](https://github.com/asyncapi/generator#cli-usage-with-docker)
- [playground](https://playg

[2020-09-10 14:44] derberg commented on #60
Hi, it is not really a bug but a missing feature. Please have a look at https://github.com/asyncapi/html-template/issues/25

[2020-09-10 15:11] flokasper commented on #60
OK, my bad, I should have better checked the other issues

[2020-09-10 15:11] #60 closed

[2020-09-10 15:21] GordeevArt opened #61 "Add parameter singleFile"
Motivation: publicate asyncapi into services that accept only single documents.

Add parameter **singleFile** to get html with scripts and styles in one file.

[code]
Make something like this in index.html:

[code]
[code]

[2020-09-10 15:21] derberg commented on #60
no worries, please make a comment there that it is important for you. PRs are also welcomed, Jonas made a good short solution suggestion there

[2020-09-10 15:27] derberg commented on #61
@GordeevArt looks good to me, I like it, I think that one day someone asked about it. Did you think about creating a PR for it. The only missing part I see is to add a hook that would react to this parameter and would remove all unnecessary files from the output directory, something similar to https://github.com/asyncapi/java-spring-template/blob/master/hooks/02_removeNotRelevantParts.js. You can

[2020-09-11 07:59] GordeevArt commented on #61
@derberg there is a problem with --watch-template when removing the directories by the hooks. Infinite recreating.

[2020-09-11 11:00] derberg commented on #61
@GordeevArt crap, could you please report a bug [here](https://github.com/asyncapi/generator/issues)?

[2020-09-11 11:21] GordeevArt commented on #61
@derberg yep. What about unpassed checks? https://github.com/asyncapi/html-template/pull/62/checks

How can it be fixed?

[2020-09-11 12:24] derberg commented on #61
@GordeevArt our pipelines are based on GitHub Actions and when we added them, they did not support nicely `fork` workflows. Welcome message could not be posted by the bot as on the PR from fork it has only `read` GitHub Token. They changed it now and introduced an alternative pull request event that takes GitHub workflows files from the upstream and not the fork (which makes it secure to assign `r

[2020-09-11 12:34] GordeevArt commented on #61
@derberg thanks it helps. Waiting for merge.

[2020-09-11 13:18] #61 closed

[2020-09-11 16:20] fmvilas commented on #59
@derberg In theory, it's a breaking change but in practice it's actually just a typo. It was never expected to be an array with keys. My fault.

@GordeevArt @derberg Both `message.examples` and `payload.examples` are valid places if you use JSON Schema as the payload format. We probably should check for the existence of both and give priority to `message.examples`.

[2020-09-14 07:43] derberg commented on #59
@fmvilas in practice is this change going into https://github.com/asyncapi/asyncapi-node or not?

The function that gets example first checks for the `message.examples` and then `payload.examples`. But it is just "hardcoded" to check example with `payload` key `msg.examples().find(e => e.payload)`, like there was an assumption that you can have `payload` example and maybe `header` example too. I p

[2020-09-14 12:19] FabienSailliet opened #66 "Schema inherited with allOf is displayed as an array"
From what I understand in the [AsyncAPI specification section talking about inheritance](https://www.asyncapi.com/docs/specifications/2.0.0/#schemaComposition), inheritance can be achieved with the JSON Schema `allOf` syntax.

I tried the provided "Models with Composition" example, with the following code:

[code]

As I am doing inheritance, I am expecting the result to look like this:

![Screensh

[2020-09-14 12:40] jonaslagoni commented on #66
@FabienSailliet issue moved to html-template, since this issue is in regards to how it is rendered. Currently the html-template does not apply it the way we would normally perceive it, it just renders the schema with the [properties provided](https://github.com/asyncapi/html-template/blob/d75ef7d6b92cb8844866c68f81b3b62d4df99e46/partials/schema-prop.html#L30). So at the moment this is not possible

[2020-09-14 12:44] jonaslagoni commented on #66
Can see this is a duplicate of https://github.com/asyncapi/html-template/issues/11, so feel free to head over there and join the conversation :smile: Closing.

[2020-09-14 12:44] #66 closed

[2020-09-14 14:03] FabienSailliet commented on #11
Has there been any progress on this issue? Would be really useful for me too

[2020-09-14 14:31] derberg commented on #11
@FabienSailliet Hi, as you can see there was a PR for that https://github.com/asyncapi/generator/issues/115 but because of concerns mentioned in this issue and the PR, we did not come with an final conclusion how this shoudl be solved. What is your opinion on the topic?

[2020-09-14 15:46] FabienSailliet commented on #11
It is to be noted that in the [JSON Schema specification](https://json-schema.org/understanding-json-schema/reference/combining.html#id5), they are stating that `allOf` is not to be used to extend schemas:

They later say:

But they do not give more details about it, so maybe it could be better to wait for something on their side, I did not check if there were some discussions about it.

In my opi

[2020-09-14 16:38] WaleedAshraf commented on #11
"[unevaluatedProperties](https://datatracker.ietf.org/doc/html/draft-handrews-json-schema-02#section-9.3.2.4)" in draft-2019 solves the problem of using "additionalProperties" with "allOf".

Example,
[code]

Adding any additional prop to any of `allOf` schema will fail the validation.

[2020-09-15 15:23] jonaslagoni opened #67 "Circular references causes stack overflow"
#### Describe the bug
While fiddling around I tried adding the machine readable file for AsyncAPI 2.0.0 as a payload and I noticed that it can be parsed fine however the template might be missing a check somewhere because it causes a `RangeError: Maximum call stack size exceeded`.

#### How to Reproduce
Place the following AsyncAPI file and the [machine readable file](https://github.com/asyncapi/a

[2020-09-16 14:28] derberg commented on #67
The issue is caused because `allOf`
- here https://github.com/asyncapi/html-template/blob/master/partials/schema-prop.html#L211-L215
- here https://github.com/asyncapi/html-template/blob/master/partials/example.html#L17

issue is in our template and in generic filter that uses `openapi-sampler`, probably also because of `allOf`

it definitely need some deeper investigation and fix will have to be

[2020-09-18 18:29] derberg opened #69 "Extract deprecation notice to separate macro"
**Context**

[This](https://github.com/asyncapi/html-template/blob/master/partials/operations/by_tags.html#L34-L50) from `by_tags` and [this](https://github.com/asyncapi/html-template/blob/master/partials/operations/by_tags_no_root.html#L34-L50) from `by_tags_no_root` is exactly the same.

**Description**
1. Next to above mentioned files create a new file, [Nunjucks Macro](https://mozilla.github.i

[2020-09-18 18:33] derberg opened #70 "Remove unnecessary semicolons from filters"
Remove unnecessary semicolons:
- https://github.com/asyncapi/html-template/blob/master/filters/all.js#L64
- https://github.com/asyncapi/html-template/blob/master/filters/all.js#L105﻿

[2020-09-19 14:46] derberg opened #71 "Figure out how to modify twitter workflow to tweet only about major and minor releases"
**Context**

We agreed with community that we will automatically tweet about all releases from all AsyncAPI packages, but only if it is major or minor release, patches will not be communicated.

[This](https://github.com/asyncapi/html-template/blob/master/.github/workflows/release.yml#L50-L58) workflow so far sends info to Twitter every time there is any release

**Description**

- Figure out how

[2020-09-21 09:19] fmvilas commented on #59
I messed it up here. The real intention behind `examples` at Message Object is to contain an array of objects with `headers` and/or `payload` keys. Their values can be anything though but they must match the definition.

So, a valid example should look like the following:

[code]

The reason is that we want to have an example of both, headers and/or payloads.

[2020-09-22 06:48] derberg opened #72 "Add parameter to generate pdf from the HTML file"
#### Reason/Context

People still use PDFs to share information, we should support users to easily get PDF out from the HTML. Such functionality is already in [this](https://github.com/derberg/template-for-generator-templates) boilerplate template, so it just needs to be copied.

#### Description

- add `puppeteer` to project dependencies
- add new parameter to template configuration -> https://gi

[2020-09-22 07:39] derberg opened #73 "Add support to generate filename different than index.html"
#### Reason/Context

There is a use case where you want to have documentation for all your services stored in one folder, which means you cannot stick to `index.html` file as you will override those files. you need to be able to set a different name for the output file. Sample use case is described here https://github.com/asyncapi/generator/issues/331

#### Description

such functionality is alrea

[2020-09-22 08:04] derberg commented on #56
Thanks @rv0

To anyone who will pick this one up:
- this is where the fix needs to be provided -> https://github.com/asyncapi/html-template/blob/master/partials/introduction.html#L26-L29

[2020-09-22 08:08] derberg opened #74 "Cleanup example spec and development guide"
#### Reason/Context

We should use the same example spec across all templates as much as possible to test them always against the same example. There is such a dummy file in the Generator repo -> https://github.com/asyncapi/generator/blob/master/test/docs/dummy.yml

#### Description
- remove https://github.com/asyncapi/html-template/blob/master/test/spec/asyncapi.yml
- adjust dev guide https://git

[2020-09-22 08:15] derberg commented on #50
It might be related to recent refactoring in filters, and changes to `isExpandable` filter -> https://github.com/asyncapi/html-template/blob/master/filters/all.js#L3-L22

This is the logic responsible for adding the chevron svg -> https://github.com/asyncapi/html-template/blob/master/partials/schema-prop.html#L11-L16

[2020-09-22 08:26] derberg commented on #28
We need to add proper condition [here](https://github.com/asyncapi/html-template/blob/master/partials/servers.html#L107-L110) in the template that in case `bearerAuth.type` is `http`, we should have header hardcoded value `Header: Authorization`

[2020-09-22 08:29] derberg commented on #27
I have no idea really what has to be done here

[2020-09-22 08:39] derberg commented on #26
The logic that handles the rendering of information about Parameter is [here](https://github.com/asyncapi/html-template/blob/master/partials/operation.html#L42-L48) and as you can see, it takes schema of the parameters and therefore displays only the description provided in the parameter. Maybe [this](https://github.com/asyncapi/html-template/blob/master/partials/schema-prop.html) macro needs to b

[2020-09-22 08:50] derberg commented on #24
summary of what needs to be done:
- extend `markdown2html` filter from `@asyncapi/generator-filters` library -> https://github.com/asyncapi/generator-filters/blob/master/src/customFilters.js#L7-L15 to support https://github.com/markdown-it/markdown-it#syntax-highlighting
- once the above is done and released, bump the version of the library in this template and the [markdown-template](https://gith

[2020-09-22 09:06] fmvilas commented on #27
I don't think we have to do anything here. At least not for now.

[2020-09-22 09:14] derberg commented on #15
we need to have the proper condition [here](https://github.com/asyncapi/html-template/blob/master/partials/schema-prop.html) to not render any property that starts with `x-parser`

[2020-09-22 13:44] derberg opened #75 "Cleanup GitHub Actions workflows"
**Context**

1. We want to make sure we have healthy community and people respec each other in GitHub. We want to monitor all comments in every repository and analyze sentiments to identify negative ones and get proper notification. Idea is to use GitHub Actions for it, to check sentiments with Google Natural Language API and post negative comments to Slack for review.

2. We manage community file

[2020-09-23 19:28] gutee commented on #59
@fmvilas I see you have reverted #436 and we don't fully understand your last comment in this thread. With the last example you provide it seems the type matches, but the functionality behind the headers/payload example in each array item is completely new, which looks like it shouldn't be added in the 2.0.0 specification.

If you keep the previous type (reverting #436), we would need to know what

[2020-09-29 09:43] fmvilas commented on #59
Yeah, the reason is that in some cases you want to show header/payload pairs, that's why they're grouped together. For instance, as a way to communicate something like "these headers make sense with this payload". Does it make sense?

[2020-09-29 10:05] oanguin opened #78 "Creating Templates with Single File Parameter causes Error"
#### Describe the bug
When using the single file parameter an error is thrown.

#### How to Reproduce
[code]
[code]
### Version Used
- npm@6.14.8
- node@12.2.0
- asyncapi/generator@v1.0.0-rc.11

#### Expected behavior
The templates are generated correctly.

[2020-09-29 10:42] derberg commented on #78
This is strange. The issue is related to [this](https://github.com/asyncapi/html-template/blob/master/hooks/01_removeNotRelevantParts.js#L21) but from the docs looks like it is used properly but this is still an [experimental function](https://nodejs.org/api/fs.html#fs_fs_rmdir_path_options_callback). When I was testing I was on Node.js 12.18.3 and all was fine. Maybe they are breaking experimenta

[2020-09-29 11:13] oanguin commented on #78
The bug does not occur in version `12.18` of Node as mentioned by @derberg .

[2020-09-29 18:05] gutee commented on #59
@fmvilas It makes sense, the thing is this is not in the specification at all, so we don't know how to interpret the 2.0.0 version, as we validate examples in the APIs. If this will work this way, and be restricted only to `payload` and `headers` with that specific notation, it should be in the specification. We need to know how this works and how this will validate. As for 2.0.0 version we should

[2020-09-29 18:56] fmvilas commented on #59
I understand but it's not a breaking change in the behavior but was rather a lack of clarity. If you look at [the spec on v2.0.0 tag](https://github.com/asyncapi/asyncapi/blob/2.0.0/versions/2.0.0/asyncapi.md#messageObjectExamples) it says:

It's an array of examples of valid Message objects. From the data point of view, only headers and payload can be provided as examples, that's the reason only

[2020-09-29 19:31] gutee commented on #59
@fmvilas I don't think anyone can know that they need to use those two keywords in their specification from what is written in the 2.0.0 tag. The type is correct, but the behaviour is not at all defined. Also, the type only applies to the `payload` facet inside the `examples` facet, as the `headers` facet has one more level for the name of each header. The `examples` facet also is now a closed sha

[2020-10-01 07:08] derberg commented on #15
video explanation on how to work on this issue https://youtu.be/Iqs_2BiNEEo?t=329

[2020-10-01 07:08] derberg commented on #24
more details about this issue in the video https://youtu.be/Iqs_2BiNEEo?t=508

[2020-10-01 07:09] derberg commented on #26
video about the issue https://youtu.be/Iqs_2BiNEEo?t=677

[2020-10-01 07:09] derberg commented on #50
video about the issue https://youtu.be/Iqs_2BiNEEo?t=726

[2020-10-01 07:09] derberg commented on #69
video about the issue https://youtu.be/Iqs_2BiNEEo?t=814

[2020-10-01 07:10] derberg commented on #71
video about the issue https://youtu.be/Iqs_2BiNEEo?t=878

[2020-10-01 07:10] derberg commented on #72
video about the issue https://youtu.be/Iqs_2BiNEEo?t=1000

[2020-10-01 07:10] derberg commented on #78
video about how to solve the issue https://youtu.be/Iqs_2BiNEEo?t=1110

[2020-10-01 16:29] HashTalmiz commented on #69
Thanks for the video explanation. I'm gonna give this one a try.

[2020-10-02 07:07] derberg commented on #69
@HashTalmiz I'm happy that you found the video useful. I'll jump into PR review now

[2020-10-02 09:25] HashTalmiz commented on #72
Hey! I'd like to take this up!

[2020-10-02 09:47] HashTalmiz commented on #72
In the last step in updating the README, Can I get details as to what I should fill in the other columns, if I add `pdf` as the next entry in `Supported Parameters`?

[2020-10-02 09:55] derberg commented on #72
@HashTalmiz it is like in case of the `singleFile` parameter, `pdf` would accept `true` or `false`

[2020-10-05 15:39] #55 closed

[2020-10-05 15:42] derberg commented on #56
fixed with #84

[2020-10-05 15:42] #56 closed

[2020-10-06 19:18] C-Zekeri commented on #70
Hi!
I'd like to work on this issue. Is there anything you'd like me to know beforehand?

[2020-10-06 20:34] juergenbr commented on #71
Hi, I came across asyncapi via the Hacktoberfest Discord and I'd like to tackle that issue if it's still open.

[2020-10-07 08:44] #78 closed

[2020-10-07 08:49] #73 closed

[2020-10-07 09:16] derberg commented on #71
@juergenbr it is still open, please feel free to take it as ask for help whenever it is needed. I assigned the issue to you, I hope you don't mind

[2020-10-07 09:29] derberg commented on #70
@C-Zekeri nope, it is a pretty straightforward issue, I just assigned it to you

[2020-10-07 10:50] #70 closed

[2020-10-07 16:09] juergenbr commented on #71
@derberg great, thanks! I have a solution proposal ready, but I'm not 100% sure how to test it with my forked repo.
It's  using a github action to perform the kind of version check that is required based on my understanding.  Is it OK to use external actions or do you prefer a custom implementation to avoid dependency issues?
https://github.com/juergenbr/html-template/blob/feature/tweet-new-releas

[2020-10-07 19:03] derberg commented on #71
@juergenbr you can normally create releases on a fork and they will have no effect on the upsteam. This is how you can test it.

We do not mind using external actions at all, we just make sure they are released with quality and always look for solution with largest amound of starts. But this is not a written rule.

I don't think [this](https://github.com/juergenbr/html-template/blob/feature/tweet-

[2020-10-07 19:22] juergenbr commented on #71
@derberg thanks for the quick feedback. Makes sense, yes. [This line](https://github.com/juergenbr/html-template/blob/feature/tweet-new-release-workflow/.github/workflows/send-tweet-on-release.yml#L28) should ensure that the tweet is only sent if the version is either minor or major release, not a patch.
Line 22 to 26 are basically just debug outputs for testing and could be removed.
The version-c

[2020-10-08 07:39] #72 closed

[2020-10-08 08:02] derberg commented on #71
ah so sorry I missed that `steps.check.outputs.type != 'patch'`.
Looks perfect to me. The action that you use is also legit, I even gave it a star.

Just please test if first. You do not have to tweet, 22-26 is enough to test, tweet step can fail. And yeah, open the PR please!

[2020-10-08 09:44] bszwarc commented on #74
Hi @derberg , I would be happy to help with this one :) Would next week do as well?

[2020-10-08 09:48] derberg commented on #74
@bszwarc THAT WOULD BE AWESOME!!! Let me know if you need help 😉 or just ask me on Friday 😄

[2020-10-08 10:29] bszwarc commented on #74
Will do!

[2020-10-08 13:09] derberg commented on #69
fixed with https://github.com/asyncapi/html-template/pull/81

[2020-10-08 13:09] #69 closed

[2020-10-08 15:12] #28 closed

[2020-10-09 14:15] gabrielclaudino commented on #50
Hey, I can help with this. Can you assign to me?

[2020-10-09 15:23] derberg commented on #50
@gabrielclaudino done. Good luck. In case ya need help write here or join live stream on Tuesday

[2020-10-09 16:41] gabrielclaudino commented on #50
Ok 👍

[2020-10-10 10:42] juergenbr commented on #71
@derberg I spent some time testing and kept running into an error with the checkversion action. After checking back with the developers it turns out that running the action after the release workflow does not work as intended because the release event does not push any commit that could be checked for a new version.
Since the action can distinguish between the types of version change I suggest kee

[2020-10-12 08:30] derberg commented on #71
@juergenbr yeah, it would be just nice to have it separately in another workflow. I was just afraid that release workflow will get more complicated with each additional action. Anyway, I understand what is the blocker here, makes sense. Feel free to do it in the release workflow. Please make sure to add a comment to this action step that it it based on package.json and therefore not valid for othe

[2020-10-14 15:54] fmvilas commented on #59
You're right. Being 100% consequents with what's written there it would be a breaking change, however, I think we should be pragmatics here and not bump a major version just because of this change. The intention since the beginning was to have this closed shape and tooling does reflect that. It's one of these unlucky situations. We'll be more careful with the next version.

[2020-10-14 17:42] gutee commented on #59
@fmvilas No problem, can you reflect the change in the specification please? So that we know that it will not change behaviour in the last minute.

[2020-10-15 06:33] fmvilas commented on #59
Absolutely. I just created this PR to clarify the definition: https://github.com/asyncapi/asyncapi/pull/453.

[2020-10-15 08:45] #71 closed

[2020-10-15 11:16] juergenbr commented on #75
I'll take it :)

[2020-10-15 12:28] #50 closed

[2020-10-15 12:57] gutee commented on #59
Great, thanks @fmvilas, I think that's more clear now.

[2020-10-16 11:05] #74 closed

[2020-10-19 20:21] #75 closed

[2020-10-20 07:43] derberg commented on #59
@GordeevArt I'm guessing we can close this one?

[2020-10-20 07:49] GordeevArt commented on #59
Yep. Thanks!

[2020-10-20 07:49] #59 closed

[2020-10-20 08:44] M3lkior opened #107 "Add a param to allow version override"
#### Reason/Context

In a CI/CD context, generated doc must be fit with the current project version. To achieve this today, we need to use external workaround to change the spec version on the fly.

It will be nice to have a new param `version` to allow scripting and dynamically change the generated version of HTML template

#### Description
Please try answering few of those questions
- What chang

[2020-10-20 09:03] M3lkior opened #108 "Display correlationId in generated doc"
#### Reason/Context
Please try answering few of those questions
- Why we need this improvement?

In my case, i'm using Kafka to do Events exchanges. I use [Request-reply](https://www.enterpriseintegrationpatterns.com/patterns/messaging/RequestReply.html) for exchange with the [CorrelationIdentifier pattern](https://www.enterpriseintegrationpatterns.com/patterns/messaging/CorrelationIdentifier.html

[2020-10-20 09:24] derberg commented on #108
@M3lkior lgtm but yeah, I'm not the guy that has a good design sense...they say so 😆

@fmvilas even though I'm known for being super bad at choosing colors I think that @M3lkior proposal is pretty good. Thoughts?

[2020-10-20 09:35] derberg commented on #107
@M3lkior just to make sure, you do not want to provide a proper version in `info.version` but have a way to override it with `-p version=1.0.0`? Why do you consider a change in `info.version` as a workaround? AsyncAPI is a source of truth, better to change it there than override in the template, don't you think?

[2020-10-20 09:36] fmvilas commented on #108
Yup. Looks good to me too. Let's make sure it's hidden if no correlationId is given.

[2020-10-20 09:58] M3lkior commented on #107
Yes it is the use case. AsyncAPI is my source of trust, except for the version which is  my project version (a java maven project)
I don't want to edit two files when upgrading version, for maintenability purposes so the simplest way is to dynamically change the asyncapi spec version with my `pom.xml` version (which is the source of truth in my release process)

for now, i have a process that upda

[2020-10-20 10:07] derberg commented on #107
Sounds good. This will be optional so lgtm.

Only https://github.com/asyncapi/html-template/blob/master/template/index.html#L8 and https://github.com/asyncapi/html-template/blob/master/partials/sidebar.html#L18 need to be adjusted to read `params.version` first. Of course readme and [config](https://github.com/asyncapi/html-template/blob/master/package.json#L68) must be extended

[2020-10-20 10:07] derberg commented on #108
@M3lkior wanna give it a try?

[2020-10-20 12:29] M3lkior commented on #108
Yeah, if the correlationId attribut is already present in the templating context; i think it could be achieve in few hours :)

[2020-10-20 14:30] derberg commented on #108
@M3lkior template works on a AsyncAPI document that is already parsed by the AsyncAPI Parser. You have access to all the helper functions to access the contents of AsyncAPI document.

You would only need to add correlationId sample here to thid dummy example https://github.com/asyncapi/generator/blob/master/test/docs/dummy.yml so you get a sample data to work on during template development

In the

[2020-10-21 08:44] M3lkior commented on #108
Ok so what about this rendering ?

![image](https://user-images.githubusercontent.com/5501911/96695769-55c01b80-138a-11eb-9496-ec33c831bdbd.png)

The attached snippet :

[code]

[2020-10-21 09:05] derberg commented on #108
yeap, right above the payload, makes sense and still looks good

[here](https://raw.githubusercontent.com/asyncapi/tck/fb062a4bd9798ab9b277abbe109e13264326bfb8/tests/asyncapi-2.0/Operation%20Object/valid-multiple-messages.yaml) you have an example of such a channel that has multiple messages

[2020-10-21 12:18] M3lkior commented on #108
Nice.

I read this morning about [`Correlation Identifier` EIP pattern ](https://www.enterpriseintegrationpatterns.com/patterns/messaging/CorrelationIdentifier.html) and in a major of use case, the `CorrelationID` is define in the message headers  :

- The requestor send a message with a `Request ID` in his message header
- The replier send back to a response topic a message with a `Correlation ID

[2020-10-21 12:41] fmvilas commented on #108
It is also very useful for distributed tracing. For instance, to understand where a whole "chain" of messages originated and what were the steps it followed during its way.

For instance:

1. REST API receives a POST /signup and it publishes a **UserSignedUp** message with a unique correlation Id.
    1. An "Email microservice" receives the message, sends a welcome email to the user, and publishes

[2020-10-21 12:51] derberg commented on #108
I would also add that it doesn't have to be header and not necessarily called `correlationId`. Sometimes it is referred to as `clientRequestId` and can be part of the payload. Have a look at example from Azure using CloudEvents as an envelope for the payload https://docs.microsoft.com/en-us/azure/event-grid/cloud-event-schema#sample-event-using-cloudevents-schema

@fmvilas this makes me think why

[2020-10-21 12:54] sofialunkes opened #110 "Undefined message error when spliting the subscriber/pubsli into separated file."
I'm working on documenting events at my job, and found this amazing tool.

But I'm facing a problem. We have a lot of subscribers and publishers (runs in microservices architecture) and we need to split them according to the event that is being triggered and consumed.

example:
microservice: timeline
events:
- transactions-authorization
- transactions-cancellation
- transactions-declined

But when

[2020-10-21 13:22] derberg commented on #110
Thanks for the kind words! It always gives power 💪

I looked at your example, you have a few errors there.

This us how AsyncAPI file should look like:
[code]

Have a look at the `components.messages`. In spec we [explain](https://github.com/asyncapi/asyncapi/blob/master/versions/2.0.0/asyncapi.md#components-object) that `messages` is a Map of string and message/ref object.

Also the file that hol

[2020-10-21 13:55] sofialunkes commented on #110
Hi!

oh I didn't noticed the first problem the` schema.yml#/components/messages/DummySignup`, thank you for checking this!

But this:
[code]
I don't think is right.. If we have different channels, the object will not reference others than the DummySignup.

When i write this way, it works.

[code]
Note that the components.messages  is not referecing an specific object.

The problem is, the channel

[2020-10-21 15:05] derberg commented on #110
tl;dr your example is a valid example, you just do not have content here https://github.com/sofialunkes/asyncapi-spec-events/blob/master/dummy/dummy-signup.yml

This 👇 works because of the structure you have in `schema.yml` file, map of string and message object. Also keep in mind that maybe it works, but there is no reference from channel to components section, so it is not clear what those messa

[2020-10-21 15:19] fmvilas commented on #108
@derberg it's for semantic reasons. We already have the information in headers or payload but we don't know which field is the correlation Id. **We don't know the meaning of the data, just its structure**. We also can't add an attribute to the field definition inside headers or payload because they are pure JSON Schema objects. Or Avro, RAML, etc. in the case of payload.

[2020-10-22 11:58] #26 closed

[2020-10-22 11:59] derberg commented on #26
@maxs this is fixed and released

[2020-10-22 16:58] #110 closed

[2020-10-26 08:40] derberg commented on #108
@M3lkior I made it much easier for you to contribute this one. I did a live stream for the Hacktoberfest and worked on this issue -> https://youtu.be/k8aS_houYlY?t=1915

[2020-10-27 14:51] flokasper opened #112 "Crash when generating pdf"
#### Describe the bug

I am trying to generate pdf from the asyncapi.json using docker, rendering the html works perfectly but I have a crash when generating the pdf:
[code]

#### How to Reproduce

[code]
If I remove -p pdf=true, it works

[2020-10-27 15:20] derberg commented on #112
@flokasper looking at https://github.com/puppeteer/puppeteer/blob/main/docs/troubleshooting.md I think it is caused by the fact that we use alpine in generator docker https://github.com/asyncapi/generator/blob/master/Dockerfile#L1

Some fix is described here https://github.com/puppeteer/puppeteer/issues/379#issuecomment-334447389 so we will have to check and update official docker image. Would be

[2020-10-28 16:34] derberg commented on #112
@flokasper I just opened PRs to fix it

[2020-10-29 13:50] derberg commented on #108
the official dummy example is now extended with examples of correlationId https://github.com/asyncapi/generator/blob/master/test/docs/dummy.yml

[2020-10-30 09:17] #112 closed

[2020-11-23 08:32] derberg commented on #27
@p3root are you still interested with this issue? would be great to get some more details

[2020-11-25 09:44] p3root commented on #27
No. Don't need it anymore! You can close the issue!

Cheers

[2020-11-25 09:47] derberg commented on #27
🙇

[2020-11-25 09:47] #27 closed

[2020-12-01 14:55] davydog187 commented on #24
Hi 👋 sorry I haven't been able to get to this one. It's a great first issue!

[2020-12-09 15:40] elnipa commented on #11
Any update on this one? A solution would be highly appreciated to have the same behavior as in Swagger/Redoc for our openAPI rest API.

[2020-12-09 16:26] derberg commented on #11
@elnipa could you show some examples? I'm not very familiar with how these tools handle it and what you refer to exactly. Thanks 🙇🏼

[2020-12-09 17:43] elnipa commented on #11
Sure, in Redoc the attributes within allOf are flattened and only oneOf attributes are splitted.
Compare for the following example:

[code]

## asyncAPI
![image](https://user-images.githubusercontent.com/34566347/101666242-3e2e1680-3a4e-11eb-97b1-8c6e7e9a0b7b.png)

## openAPI (Redoc)
![image](https://user-images.githubusercontent.com/34566347/101666293-5140e680-3a4e-11eb-8ffc-ff403e6be5ad.png)
![i

[2020-12-15 08:43] derberg commented on #11
@elnipa thanks a lot, it helps!

[2021-01-11 11:43] nospam2000 opened #195 "the 'examples' values should be honored when using type integer+oneOf"
#### Describe the bug
The automatically created examples don't honor the specified values of 'examples' and create invalid combinations of attributes. The result is a logically invalid example.

#### How to Reproduce
definition:
[code]

The created invalid example
[code]

'-1' means a scalar value, but for the example of arrayDimensions valueRank has to be '2'

#### Expected behavior
expected exam

[2021-01-13 12:20] Theiaz opened #126 "Minify and purge CSS files"
Hello all! Today I've found this nice project and want to give some ideas.

#### Reason/Context

Having a look at `tailwind.min.css` it seems like there has been no pruning. File size is nealry 400KB and I think there are much unused styles. Without pruning one big advantge of TailwindCSS is missed ([similar case](
https://v1.tailwindcss.com/docs/installation#using-tailwind-via-cdn)). I think the

[2021-01-13 12:41] derberg commented on #126
@Theiaz hey, you mean you'd like to have a kind of post-processing of the resulting generation output? or is there something that needs to be improved in the HTML files to enable any custom post-processing anyone can add?

[2021-01-13 12:57] Theiaz commented on #126
@derberg Hello

I think its necessary to introduce post-processing with the generated ouput. HTML files/partials looks fine to me.

There is no need to include a separate `tailwind.min.css`. Instead you can setup the tailwind dependency via npm, add a `tailwind.config.js` and adjust `main.css` (if I'm right). Have a look at [Installation Guide](https://v1.tailwindcss.com/docs/installation).  Maybe

[2021-01-13 13:09] derberg commented on #126
PR would be welcome. Triggering of post-processing could be done in an automated way as we do with PDF generation -> https://github.com/asyncapi/html-template/blob/master/hooks/generatePdf.js

[2021-01-15 08:50] Theiaz commented on #126
Seems like your `tailwind.min.css` is using very old styles and is not more compatible with newest TailwindCSS versions. For example there is no more class `.bg-blue-dark`. I do not know where the current styles are from, however it seems pretty similar to [this](https://github.com/tailwindlabs/tailwindcss-plugin-examples/blob/master/dist/styles.css).

I will investigate what to do if the newest T

[2021-02-01 13:29] #126 closed

[2021-02-01 17:03] #108 closed

[2021-02-07 14:54] marcortw opened #142 "Rendering of CommonMark does not produce expected output"
#### Describe the bug
When I create an output of the streetlights example, I don't get anymore nicely rendered output as it used to be. I thought it had something to do with a missing main.css file (see [this PR](https://github.com/asyncapi/html-template/pull/141)), but fixing this locally didn't do the trick.

#### How to Reproduce
Create a new repo and `npm install @asyncapi/generator@1.1.7`
Cre

[2021-02-08 11:04] Theiaz commented on #142
This could be caused by tailwind and its CSS reset, which may omit styling with bullet points. I will investigate this.

[2021-02-08 14:05] Theiaz commented on #142
Seems like Tailwind uses `list-style-type: none` as default (see [here](https://tailwindcss.com/docs/list-style-type)).

Question now is, if no bullet points are a desired behaviour or we do want to display bullet points.

[2021-02-08 19:11] derberg commented on #142
yeap, we definitely should support rendering on the bullet points

[2021-02-09 08:21] derberg commented on #142
@Theiaz shouldn't this be enough ?
[code]

[2021-02-09 11:46] eriadam opened #143 "issue with node 15"
#### Describe the bug

I am unable to run the generator with v15.3.0 (with npm 7.0.14).
It works fine with v14.15.0.

[code]

#### How to Reproduce

Install node 15, delete existing output folder, run generator.

#### Expected behavior

Docs are generated in the output folder

[2021-02-09 11:50] Theiaz commented on #142
I don't think that this will work, cause it deactivate classes for styling lists. You can not use any class from [here](https://tailwindcss.com/docs/list-style-type) anymore. I had a quick look at the code and it seems like this problem could not be solved that easily. If you add styliing manually (for example with `li {list-style-type: disc}` in `main.css`), other parts of UI would also be affect

[2021-02-09 11:51] derberg commented on #143
@eriadam at the moment we recommend downgrading npm to 6.13.7 because of the issue you mentioned. I will move this issue to the generator repository as the fix needs to be provided there. Can you please update the title that the issue is not really with the node version but npm (node 15 by default gets npm 7)?

[2021-02-09 19:21] marcortw commented on #142
Thanks in advance @Theiaz and @derberg and let me know if I can be of any help. For those who come by here: I am currently getting my bullet items back by defining a specific version like this:
[code]

[2021-02-12 12:13] Theiaz commented on #142
FInally I had some time and found the [issue](https://www.tailwindcss.cn/docs/upgrading-to-v1/#8-remove-any-usage-of-list-reset). Tailwind changed its default styling for list items. Due to the migration from v0.x to v2.x this needs to be applied. I did not noticed it, because it only affects the markdown part and in my test file there has not been one.

To fix this issue list styles are applied f

[2021-02-12 17:03] M3lkior commented on #25
Hi @derberg i can partially help on this issue by handling the message `bindings` which i think is the most important part to display for a start

I think that we can reuse `schema` macro approach to display messages bindings in the same block like
[code]
In my enterprise case, i need to display to my users my kafka message key and i think this is the right place to do that  :
![image](https://use

[2021-02-12 20:30] #142 closed

[2021-02-14 12:09] chatne commented on #142
The fix was done solely on main.css which is not included in the index.html when singleFile param is false. Therefore changes are not present and markdown lists do not render.

Weirdly enough the fix seems to have been done to tailwind.min.css in commit https://github.com/asyncapi/html-template/commit/df9c9c75be996761b0440e4bdc8c905a90d82f82 but this commit is not included in the release.

In pack

[2021-02-14 13:29] chatne commented on #142
Looks like v0.17.1 was tagged incorrectly: https://github.com/asyncapi/html-template/compare/v0.17.1...master

[2021-02-15 09:16] derberg commented on #25
I think doing it first for message is a good idea.
Did you try `schema` macro already or what you showed above is just a mock? This macro is for rendering schema, while what you get in the binding is not a schema so I'm not sure how is it going to work, you need to see. I think that as suggested by @jonaslagoni, the only way, for now, would be to reuse the approach for spec extensions https://gith

[2021-02-15 16:54] M3lkior commented on #25
What i show above is just a mock for now to enrich the discussion ...

Althought i'm not sure that the `msg.bindings()` exists ... i don't find the place where the generator api is described, can you share me the place to find this information ?

I agree with you about the `Binding` header but it was just for the example
How do you think about displaying the protocol attribute (`kafka` or `mqtt` f

[2021-02-16 10:51] briggySmalls opened #151 "cross-env: not found"
#### Describe the bug

cross-env is not installed as a dependency of `@asyncapi/html-template`, nor is it listed as a peer dependency or anything like that.

We've been using the `asyncapi/generator` image with the `@asyncapi/html-template` in our CI pipeline for some time.

The command we execute is:

[code]

Today it started failing with:

[code]

#### How to Reproduce

[code]

#### Expected beh

[2021-02-16 10:58] mikeroll opened #152 "postinstall breaks the installation of 0.17.2"
#### Describe the bug
0.17.2 and I think #149 specifically broke the package installation for me:

[code]

Which is fair, I don't seem to have this `cross-env`. I'm not too familiar with npm, but it seems that this is because `postinstall` depends on a tool from `devDependencies`, which are not installed during a normal `npm install`.

#### How to Reproduce
Just try installing.
[code]

#### Expect

[2021-02-16 11:00] mikeroll commented on #152
Dupe of #151, they beat me to it :)

[2021-02-16 11:31] derberg commented on #151
This is how you learn you have users 😭
sorry folks, PR opened already

[2021-02-16 11:32] derberg commented on #152
This is how you learn you have users 😭
sorry folks, PR opened already

[2021-02-16 12:29] #151 closed

[2021-02-16 12:29] #152 closed

[2021-02-16 12:37] briggySmalls commented on #151
Thanks for your speedy fix! And thanks for the project, we really value it on my project :)

[2021-02-16 13:16] derberg commented on #151
@briggySmalls thanks a lot for pointing out the problem and yeah, still liking us even though we caused the failure 🙇🏼

[2021-02-16 18:21] Z5eyhS0uubejR0SVmX2O commented on #11
I second the alignment with redoc which @elnipa is proposing.

[2021-02-17 08:32] derberg commented on #11
anyone wants to give this one a try again? I guess some work from @jamescrowley could be reused

[2021-02-17 12:04] #107 closed

[2021-02-17 21:22] Z5eyhS0uubejR0SVmX2O commented on #11
Going along with this, it would be super nice if the `title` of the object in the OneOf/AllOf rendered as Redoc does. I updated my examples to include this.

[2021-02-18 22:52] Z5eyhS0uubejR0SVmX2O commented on #11
Identified further concern with how properties in addition to those defined in OneOf/AllOf are rendered, added to the examples I link to (just so I can provide a URL that shows how redoc-cli renders it).

[2021-02-19 14:13] laat opened #157 "0.18.0 is missing hljs css"
#### Describe the bug

the html is missing hljs styles

#### How to Reproduce

[code]

The HTML is missing syntax highlighting in the examples

![image](https://user-images.githubusercontent.com/146559/108514776-8fffe200-72c4-11eb-8da1-ff9293c4714e.png)

### 0.17.1 worked

this is a regression from 0.17.1, where syntax highlighting worked

[code]

![image](https://user-images.githubusercontent.com

[2021-02-19 14:52] Theiaz opened #158 "Use css imports for merging css files"
As described [here](https://github.com/asyncapi/html-template/pull/149#issuecomment-782114843) instead of merging css files by npm scripts a better way would be to use `@import`

[2021-02-19 14:58] Theiaz commented on #157
Possible fix could be #159.

[2021-02-19 15:02] Theiaz opened #160 "Css files not minified"
#### Describe the bug
Css files are not minified.

[main.min.css](https://github.com/asyncapi/html-template/blob/master/template/css/main.min.css)
#### Expected behavior
Css files should be minified.

Possible solution could be to use [cssnano](https://github.com/cssnano/cssnano) with postcss plugin. Needs to wait for #159.

[2021-02-19 16:03] derberg commented on #157
@laat it will be fixed as @Theiaz once we merge the fix, I checked and with the PR css is fixed:

[code]

[2021-02-22 09:15] #157 closed

[2021-02-22 09:15] #158 closed

[2021-02-26 12:18] derberg commented on #25
@M3lkior sorry for late response, I totally missed your comment

Generator uses Parser to parse the document and provide an API to read its content, API docs are here https://github.com/asyncapi/parser-js/blob/master/API.md

you have `msg.hasBindings()` and `msg.bindings()`

[2021-03-12 10:11] dweber019 commented on #142
Late to the game but at least the current playground version doesn't support other styling of commonmark either.
E.g. **bold** and the list goes on

Im writing AsyncAPI for our governance in a bigger enterprise and to have styling in any description field according to commonmark is crucial.

[2021-03-12 10:21] derberg commented on #142
@dweber019 can you provide more details on this in a separate issue, where you want to use markdown and where it is not supported. Some screenshots and example spec would help a lot

[2021-03-12 12:41] dweber019 opened #162 "Markdown styling for several commonMarks missing"
#### Describe the bug
The HTML is produced correctly but the styling if broken for the following type:
- Bold
- Blockquote
- Lists (numeric and disc) should be fixed with https://github.com/asyncapi/html-template/issues/142
- Code (inline and block) barely recognizable
- Tables not styled (nice to have)

This happens on all fields, which are commonMark enabled by your documentation.

#### How to R

[2021-03-12 12:41] dweber019 commented on #142
Issue created: https://github.com/asyncapi/html-template/issues/162

[2021-03-12 13:06] derberg commented on #162
@dweber019 thanks for the issue. I'm not sure what is wrong with bold for you, for me it shows bold properly. For the list, it is already fixed in the template, just playground needs update, I opened a PR for that.

Now for the rest, we just need someone who would have time to dig into CSS because from the html-template code point of view, all is good. I mean commonMark is used and descriptions ar

[2021-03-12 13:31] derberg commented on #162
latest playground with fixed list is deployed

[2021-03-16 14:38] lornajane opened #163 "The HTML does not conform with accessibility guidelines"
#### Describe the bug
The HTML created using this template is very difficult to use, because it uses non-standard elements that aren't understood by assistive tooling.

#### How to Reproduce
Generate some HTML, then either check it using your standard developer toolchain (both Chrome and Firefox have some basic accessibility analysis tooling, it won't catch everything, but it will help), or try us

[2021-03-17 13:09] magicmatatjahu commented on #51
Related issue in React component - https://github.com/asyncapi/asyncapi-react/issues/265

[2021-03-18 08:34] several27 opened #165 "Circular reference causes a "Template render error" error"
Hey all,

New user here, absolutely loving the asyncapi and the generator. Thanks for all the effort!

Not 100% sure if the below is a bug or us defining the schema incorrectly, but would really appreciate a little bit of help. Just for the context: we're trying to express a schema, similar to how most data processing libraries like spark define their type system (recursive struct with fields).

#

[2021-03-20 11:12] aayushmau5 commented on #24
I guess this issue will be irrelevant as we are gonna move to react component, right?

[2021-03-22 10:18] derberg commented on #24
@aayushmau5 do we have support for syntax highlight in react component already? I have to admit I don't remember 😅

[2021-03-22 17:30] aayushmau5 commented on #24
I meant we gonna add syntax highlighting(in case if we don't have syntax highlighting) in react component, so we will do it in react. Not in HTML, right?

I guess I should've said it will be irrelevant in our HTML component.

[2021-03-22 17:39] derberg commented on #24
yes, we are not adding any features to HTML template now but do not close these issues as they are still relevant for react component, if not supported yet

[2021-03-22 17:43] aayushmau5 commented on #24
Ah, right. Makes sense. :)

[2021-03-24 11:12] edubsi opened #167 "Title contains <span> tags around version"
#### Describe the bug
Starting with version 0.18.0 <span> </span> tags are wrapping the version information.

#### How to Reproduce
Should always happen when a title is displayed. The Title of the tab will display `MyAPI <span>1.0.0</span>` e.g.

#### Expected behavior
The version information in the Title should not be wrapped with `<span>` tags.

[2021-03-25 11:15] aleung opened #168 "Render error when string in example contains '</'"
#### Describe the bug
The content of string in example can not be correctly render when the string contains `</`.

#### How to Reproduce

generator version: 1.6.2
html-template version: 0.18.1

Screenshots
![Selection_018](https://user-images.githubusercontent.com/271538/112462901-93dbc400-8d9c-11eb-92c2-0f006a62c723.png)

Files that can help reproduce the issue

[code]

#### Expected behavior
In

[2021-03-25 11:30] magicmatatjahu commented on #168
@aleung Hi! Thanks for report issue! Most likely it is due to sanitizing example -> here https://github.com/asyncapi/html-template/blob/master/partials/example.html#L20 @derberg Do you know why we sanitize examples?

[2021-03-25 11:35] derberg commented on #168
tbh you would have to try to remove the `safe` filter and see what happens with HTML input, maybe it was breaking the UI? 🤷🏼 it was there in the initial version which means for a very long time and I bet that even @fmvilas do not remember why he added it there

[2021-03-27 06:47] dweber019 commented on #162
I can confirm the list is fixed. At least for the normal one. The numeric list is now a normal disc list.
I have retested with the like above and this is the [result](https://ibb.co/K7LcN6r) . As you can see the bold part doesn't look bold.

[2021-03-27 07:14] dweber019 commented on #162
@derberg created a pull request to fix the list regarding numeric and bold font with strong.

[2021-03-29 08:55] derberg commented on #162
@dweber019 great, left a comment

[2021-03-30 13:11] dweber019 commented on #162
Close as this PR will fix the bug https://github.com/asyncapi/html-template/pull/169

[2021-03-30 13:11] #162 closed

[2021-04-01 08:32] derberg commented on #15
@magicmatatjahu yo, I'm not sure if I should reopen this one, how does it look like in react component?

[2021-04-01 08:43] magicmatatjahu commented on #15
@derberg Generation for examples are not yet rewritten for the "new" component. I will reopen it and I remember about this issue to check and fix in component :)

[2021-04-07 08:24] magicmatatjahu commented on #168
@aleung Hi! Sorry for late response. Currently we are unifying HTML-Template with React component in this PR https://github.com/asyncapi/html-template/pull/166 I fixed this bug in unification. Could you wait for it (max next 2 weeks)?

[2021-04-07 08:24] magicmatatjahu commented on #167
@edubsi Hi! Sorry for late response. Currently we are unifying HTML-Template with React component in this PR https://github.com/asyncapi/html-template/pull/166 I fixed this bug in unification. Could you wait for it (max next 2 weeks)?

[2021-04-07 08:30] magicmatatjahu commented on #15
It will be fixed in https://github.com/asyncapi/html-template/pull/166

[2021-04-07 10:20] edubsi commented on #167
Hi! Yes 2 weeks should be no problem.
Thanks for the fix 👍

[2021-04-09 07:52] aleung commented on #168
No problem. Thanks! @magicmatatjahu

[2021-04-12 14:59] #25 closed

[2021-04-12 15:05] derberg commented on #25
@karlwbrown @mekras @damaru-inc thanks to @M3lkior you can now get bindings info in generated HTML using the latest version. Please also keep in mind that for few weeks it is also possible with the react component

[2021-04-12 15:06] derberg commented on #25
@M3lkior would be great if you could bump HTML template in https://github.com/asyncapi/playground as this part is not automated yet

[2021-04-12 15:39] M3lkior commented on #25
Ok @derberg, with pleasure ; I will also do a PR for the markdown template

[2021-04-21 06:16] derberg commented on #160
@magicmatatjahu how does the default css file set up in the react component, the one that holds styles like the main.min.css? Do you minify it or this is something planned for later?

[2021-04-21 10:01] magicmatatjahu opened #185 "Move to JSX renderer"
#### Reason/Context

Currently template is written in Nunjuck. We should move to JSX (aka React) renderer, of course after [unification](https://github.com/asyncapi/html-template/issues/51). Unfornatelly we are blocked by https://github.com/asyncapi/generator/issues/521. After improving compilation of React templates, switching to React template will be very easy.

[2021-04-21 10:19] magicmatatjahu commented on #160
@derberg "New" React component will have a `default.css` and `default.min.css` styles, and we will use in html-template minified version :)

[2021-04-25 18:39] magicmatatjahu opened #187 "BaseHref parameter breaks functionality of anchors"
#### Describe the bug

If we pass to template `baseHref` parameter like `/docs` it breaks anchors (like `#operations-{nameOfOperation}`).

#### How to Reproduce

Pass some spec with `baseHref` parameter like `/docs` (relative path not absolute).

#### Expected behavior

Anchors should works with `baseHref` with any input and in any environment.

[2021-05-04 14:24] DavidBiesack opened #188 "Construct message example from schema composition"
#### Reason/Context

At present, when defining examples in the components/schemas section, it is very tedious to author complete
examples. Use tooling (such as from `openapi-sampler` which is used in [widdershins](https://github.com/Mermade/widdershins) for OpenAPI) which will construct more complete examples by merging the examples from `allOf` constructs

#### Description

See a sample `asyncapi

[2021-05-04 21:39] magicmatatjahu commented on #188
@DavidBiesack Hello! Thanks for issue. Could you attach content of file as plain content in comment as code block? It may be weird, but we try not to open any files uploaded to github in issues.

[2021-05-05 00:36] DavidBiesack commented on #188
Here is the `asyncapi.yaml` source:
[code]

[2021-05-05 07:09] magicmatatjahu commented on #188
I checked example with our playground and we also use `openapi-sampler` under the hood. You can see it [here](https://github.com/asyncapi/generator-filters/blob/master/src/customFilters.js#L76). Widdershins also uses (as you mentioned) `openapi-sampler` [here](https://github.com/Mermade/widdershins/blob/master/lib/common.js#L442). I don't see in code that Widdershins merges `allOf` before generati

[2021-05-05 09:25] derberg commented on #188
tagging @MikeRalphson for Widdershins.

As a side note, there is a library we could use here https://github.com/mokkabonna/json-schema-merge-allof but as an option in my opinion, have a toogle that you can click and get merged allOf. But in general I think the way to go is merge schema and therefore get merged generated example, and not that we keep schema as allOf and only example is merged

have

[2021-05-05 09:28] MikeRalphson commented on #188
Do you always want to merge `allOf`s? `allOf` (as you know) says the instance must be valid against all of these subschemas independently, not that "the author split a schema into subschemas for no reason and they can be trivially merged".

[2021-05-05 10:41] derberg commented on #188
I was actually always thinking "the author split a schema into subschemas on purpose to just troll me" 😆

I definitely agree that this should not be a default, but an option that one can select in the UI

[2021-05-06 13:44] #15 closed

[2021-05-06 13:44] #51 closed

[2021-05-06 13:44] #160 closed

[2021-05-06 13:44] #167 closed

[2021-05-06 13:44] #168 closed

[2021-05-06 14:03] magicmatatjahu commented on #168
Fixed in `@asyncapi/html-template@0.21.0` @aleung Reopen if will you found bugs, and sorry for delay 😅

[2021-05-06 14:03] magicmatatjahu commented on #167
Fixed in `@asyncapi/html-template@0.21.0` @edubsi  Reopen if will you found bugs, and sorry for delay 😅

[2021-05-06 14:04] magicmatatjahu commented on #160
Supported in `@asyncapi/html-template@0.21.0` :)

[2021-05-06 14:04] magicmatatjahu commented on #15
Fixed in `@asyncapi/html-template@0.21.0` @InTheCloudDan Reopen if will you found bugs, and sorry for delay 😅

[2021-05-06 21:36] DavidBiesack opened #191 "Running with 0.21.0 yields a "TypeError: Cannot read property 'title' of null" error that is not thrown with 0.20.1"
#### Describe the bug

Running with 0.21.0 yields a crash that is not thrown with 0.20.1

#### How to Reproduce

[code]

(source below)

I'm using this from a node project.
Peviously I had done

[code]

(I had generator 1.6.13)

I saw a more recent version of `@asyncapi/html-template` was available so I tried it

[code]

but now I get an error:

[code]

Here is a trimmed down source file that work

[2021-05-07 12:41] #191 closed

[2021-05-07 13:13] magicmatatjahu commented on #191
@DavidBiesack Hello! We fixed problem in `0.21.1` version, Let us know if we created another bugs! 😅

[2021-05-10 13:40] mitchellrj opened #194 "Rendering markdown tables broken since 0.21.0"
#### Describe the bug
Markdown tables in free text (e.g. a field description) worked before 0.21.0, but now they render as plain text.

#### How to Reproduce

Put a markdown table in your schema and render it.

#### Expected behavior

Previous appearance:
![image](https://user-images.githubusercontent.com/147070/117668061-17a70f80-b195-11eb-9061-1ea3c9f10a95.png)

New appearance:
![image](https://

[2021-05-10 14:18] magicmatatjahu commented on #194
@mitchellrj Hello! Thanks for reporting the bug. As I see you have a wrong markdown. We switched in `0.21.0` to the new markdown renderer (which is more strict) with new styling. For example, if I rewrote your example to:

[code]

Then I have
![image](https://user-images.githubusercontent.com/20404945/117673419-1385ec80-b1ab-11eb-9c16-fcef28ac87d9.png)

Please fix markdown and let us know about ne

[2021-05-10 15:11] DavidBiesack commented on #191
@magicmatatjahu thank you Maciej - I can confirm that this `0.21.1` update works on my full AsyncAPI source.

[2021-05-14 09:07] mitchellrj commented on #194
Ah yes, the only mistake was not including a blank line above the existing table. Thanks!

[2021-05-14 09:07] #194 closed

[2021-05-16 08:13] lornajane commented on #163
Thanks bot, but this isn't going to be a quick fix. Accessibility is something that is required, since many organisations have a legal obligation to make materials available to all. This issue should not be closed.

[2021-05-24 15:02] derberg commented on #24
@magicmatatjahu how does it look on react side? is this supported?

[2021-05-25 10:41] magicmatatjahu commented on #24
@derberg Nope, we only support highlight for examples. I will think about it in the coming days as it is the easiest way to do it :)

[2021-05-25 10:51] magicmatatjahu commented on #195
@nospam2000 Hello! Sorry for that late response. Problem is that we use the `openapi-sampler` package to generate examples from schema. As you can see https://github.com/Redocly/openapi-sampler/blob/master/src/traverse.js#L92 package infers examples in order from: `default` -> `const` -> `enum` -> `examples` field. We can only "fix" your problem by contribution to package.

[2021-05-25 11:06] magicmatatjahu commented on #195
I created issue for that in mentioned package https://github.com/Redocly/openapi-sampler/issues/124

[2021-05-26 14:55] M3lkior opened #203 "Set the right menu collapsable"
#### Reason/Context
Please try answering few of those questions
- Why we need this improvement?

Depending on the screen resolution, the menu on the right side overlay the spec content
- How will this change help?
Allow the user to collapse this menu if needed
- What is the motivation?
A degraded user experience

![image (13)](https://user-images.githubusercontent.com/5501911/119680927-e9d2f380-be

[2021-05-27 11:11] magicmatatjahu commented on #203
@M3lkior Hello! Thanks for the issue.

Do you mean left navigation, not right, yes? Also it's a strange. Could you described which version of template do you use? I see that you probably also use Chrome as browser. I'm using Chrome and Firefox and with `0.21.4` version of template I cannot reproduce the bug. Some resolutions from my spec in Chrome (in Firefox it looks similar):

Desktop:
![image](

[2021-05-27 12:16] M3lkior commented on #203
Hi @magicmatatjahu ; yes it is about the left menu, not the right,

- Concerning the version of the used `html-template`, it is the `0.21.2`
- And for the proposal, it is exactly what i mean !

[2021-05-27 12:58] M3lkior commented on #203
@magicmatatjahu i can not share the spec because of my enterprise specification (and because we are using avro definition in the spec) but i do a test with the v`0.20.0` and the issue is not present. I can also reproduce with the v`0.21.4`

[2021-05-28 10:18] magicmatatjahu commented on #203
Honestly, I don't know what the problem could be. Apparently, as I see in your screenshoot, some styles stopped working for you and instead of (eg) `flex` the browser rendered it `fixed`. It's hard for me to say what's wrong. At the moment, no one has reported a similar error. Maybe this is also a specification problem - which I doubt. It's really hard for me to conclude what is wrong.

[2021-06-16 10:57] magicmatatjahu commented on #195
I created PR to fix that bug https://github.com/Redocly/openapi-sampler/pull/126

[2021-06-16 11:58] sl-nigelalmada opened #214 "Unable to generate : prevRenderer issue"
#### Describe the bug
Since today (16/06/2021) I'm unable to the HTML bundled file based on our AsyncApi doc
[Maybe the issue is related to yesterday release ? ](https://github.com/asyncapi/html-template/releases/tag/v0.22.0)

The error :

[code]

#### How to Reproduce

Use the command : `npx ag spec.yaml @asyncapi/html-template --force-write -p singleFile=true -p outFilename=index.html`

The `pac

[2021-06-16 12:12] magicmatatjahu commented on #214
@sl-nigelalmada Hi! It's probably due to fact that one PR in the repo https://github.com/asyncapi/asyncapi-react in the `next` branch (we use underline the react-component to render the template) had updated the `marked` dependency where someone used the optional chaining in JS -> doc for that https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Optional_chaining

I will che

[2021-06-16 12:15] magicmatatjahu commented on #214
@sl-nigelalmada As I thought, from tis [PR](https://github.com/markedjs/marked/pull/2043) (merged the 13 hours ago) people in markedJS started using the optional chaining, so please update your NodeJS at least to 14 version :) You can use the https://www.npmjs.com/package/n package to have several versions if you need. Please write if you need something more! :)

[2021-06-16 12:18] sl-nigelalmada commented on #214
@magicmatatjahu I'm using NodeJS v12.22.1
I will evaluate the impacts of upgrading to 14+ I will get back to you

[2021-06-16 13:01] magicmatatjahu commented on #214
@sl-nigelalmada Good to hear :)

@jonaslagoni I don't think so :P we should use always the latest 2.X.X version of marked, probably the maintainers will change the optional chaining to normal `? :` statement.

[2021-06-16 13:04] jonaslagoni commented on #214
Yea, but we cannot wait until they get that solved, who knows when? For now, we should probably downgrade the dependency so the users are not affected on our end.

[2021-06-16 13:10] derberg commented on #214
yup, I agree with @jonaslagoni
they broke semver, but no clear answer in their issue when they will provide a fix, even though they are advanced https://github.com/markedjs/marked/pull/2109

[2021-06-16 13:40] magicmatatjahu commented on #214
I created the PR https://github.com/asyncapi/asyncapi-react/pull/371. After merging markedjs/marked#2109 I will revert changes :)

[2021-06-16 13:50] jonaslagoni commented on #214
@magicmatatjahu guess you can revert it now 😆

[2021-06-16 13:51] magicmatatjahu commented on #214
f*****g package 😂 I will revert it in the next PRs 😄

[2021-06-16 14:02] magicmatatjahu commented on #214
If someone will have similar problems, please reopen the issue :)

[2021-06-16 14:02] #214 closed

[2021-06-22 13:39] uucly opened #220 "'TypeError: schema.isBooleanSchema is not a function' when using Docker Image"
Hi,

i am using the current docker image asyncapi/generator with this command

`docker run --rm \
-v ${PWD}/src/main/resources/asyncapi.yml:/app/asyncapi.yml \
-v ${PWD}/src/main/resources/static:/app/output \
asyncapi/generator -o /app/output /app/asyncapi.yml @asyncapi/html-template --force-write`

So if i start to generate i get the following error

Something went wrong:
Template render error:

[2021-06-22 13:45] jonaslagoni commented on #220
@magicmatatjahu I see it is related to the boolean schema feature you implemented on the parser. Anything that has not been changed correctly here?

[2021-06-22 13:51] jonaslagoni commented on #220
Related PR - https://github.com/asyncapi/generator/pull/601

The generator does not use the newest version yet 🤦

[2021-06-22 13:57] magicmatatjahu commented on #220
Hmmm... 🤔 Strange. When I try to generate html-template from the newest version on npm I will get this same error, but when I generate locally from source from from latest revision, everything works:

![image](https://user-images.githubusercontent.com/20404945/122937203-12cba300-d372-11eb-931d-301452b58efd.png)

But in component we uses the newest version of parser and it's probably thrown from ht

[2021-06-22 14:09] jonaslagoni commented on #220
The problem is that the template receives a schema object based on the version the generator uses. And the generator had a failed release pipeline, so it was never updated, meaning the schema object provided was from parser version `1.5.1`

[2021-06-22 14:14] magicmatatjahu commented on #220
Ahh... Yes... 🤦🏼 And this parsed schema hasn't new functions.

[2021-06-22 14:16] #220 closed

[2021-06-22 14:16] jonaslagoni commented on #220
@uucly feel free to reopen the issue if you have further issues 🙂

[2021-06-22 14:28] uucly commented on #220
Hey guys. Thanks for your quick support.

[2021-06-22 14:34] magicmatatjahu commented on #220
@uucly ❤️

Please remember to use the newest version of docker image with `1.7.3` version of `@asyncapi/generator` :)

[2021-07-01 13:06] stsydow commented on #11
I just want to note that the issue still exists.
May be it has to do with specs split into different files?

[2021-07-01 15:52] MartinMuzatko opened #228 "Cannot find module react-dom/server"
#### Describe the bug
I get an error of missing modules.

I'm running on
node v16.3.0
npm v7.15.1
Ubuntu 18.04.5 LTS (WSL 2)

#### How to Reproduce
`sudo ag https://raw.githubusercontent.com/GPS-GmbH/mqtt-spec/main/smqtt-public-1.0.yml @asyncapi/html-template -o mqtt`
![image](https://user-images.githubusercontent.com/2950505/124153381-a567f280-da94-11eb-8aeb-0e1e151eeff2.png)

[code]

#### Expect

[2021-07-01 16:15] magicmatatjahu commented on #228
@MartinMuzatko Hello! I tried to your example and yes we have some problem as I see, but... If I choose manually the version of template (`0.23.0` which is latest version) using the command:

[code]

everything works as expected. Could you try in your machine? After successfully generating with `0.23.0` I don't need specify the version and I can use your command.

[2021-07-02 08:48] MartinMuzatko commented on #228
thanks for moving it over! :)
Looks good, it works with the version 0.23.0 and after that I can omit the version.
Is this how it is supposed to be and I missed something in the documentation?  :D
In any other case:
Is npm not able to correctly resolve the latest version maybe? I cannot even start to comprehend how this issue exists.

[2021-07-02 08:55] derberg commented on #228
@MartinMuzatko I recommend looking at [this](https://github.com/asyncapi/generator/#generator-version-vs-template-version) part of generator readme.

tl;dr Generator is versioned independently from templates. Also, every new version of a template can introduce changes that you might not necessarily like. So, like with docker images or any other things, it is recommended to always use fixed version

[2021-07-02 09:32] magicmatatjahu commented on #228
As derberg said, it's hard to say what problem was there. If you had a problem with missed `react-dom` package there npm could install template but "skip" some dependencies to install like mentioned. I think that it could be a problem with installation of puppeter, which has >100mb weight. Sometimes I had similar errors related to to missed dep which had errors on installation, but npm saw that ro

[2021-07-02 09:49] MartinMuzatko commented on #228
Thank you for answering all my questions so swiftly. We can close this issue :)
Maybe it would help to update the command presented on https://www.asyncapi.com/generator to always append the latest version of the `html-template`. But maybe that is too much overhead.

[2021-07-02 11:07] magicmatatjahu commented on #228
Good point, we can use the `latest` tag like `@asyncapi/html-template@latest` and we don't need to define the numeric latest version  :)

Ok, if someone will have similar problem, please reopen the issue.

[2021-07-02 11:07] #228 closed

[2021-07-02 11:24] magicmatatjahu commented on #195
I used the latest `openapi-sampler` version and for provided schema it creates example:

![image](https://user-images.githubusercontent.com/20404945/124267597-c08c3e00-db38-11eb-9621-2c36d20bdaf0.png)

[2021-07-05 11:41] magicmatatjahu commented on #195
Fixed in `v0.23.1` :)

[2021-07-05 11:41] #195 closed

[2021-07-06 12:43] DavidBiesack commented on #188
I'll try to get to this in the next couple weeks

[2021-07-09 07:35] derberg commented on #19
I'm closing this one, component changed a lot since this issue was created. If anyone is interested in it, please create new separate issue with detailed explanation (best would be some mocks)

[2021-07-09 09:18] magicmatatjahu commented on #19
@derberg I think that's a nice feature, for that I didn't close it yet 😅  I mean, sometimes it's really cumbersome to expand a very deep JSON Schema, so some "button" to expand all children of given Schema would be very nice.

[2021-07-21 14:00] djdjoko opened #239 "html-template generates anonymous-schemas"
Hello,

I am trying to generate html documentation with the html-template (Windows 10.0) but it renders additional properties to the schemas in the html such as <anonymous-schema-1>, <anonymous-schema-2> and <anonymous-schema-3>

I have tried running the following command to generate the html template.
ag https://raw.githubusercontent.com/asyncapi/asyncapi/v2.1.0/examples/simple.yml @asyncapi/html

[2021-07-21 15:02] magicmatatjahu commented on #239
@djdjoko Hi! It's not a bug, but intentional decision. We render each schemas (not only in the `components/schemas` section) but also in the other, like plain schemas in the `message/payload` etc (by this you see `anonymous...`). As I look at it, it looks pretty weird and will only cause more and more problems from UX side, so I'm going to create a PR to fix this right now. Thanks for the issue!

[2021-07-21 16:00] djdjoko commented on #239
Hi, thanks for the quick reply. I am trying to write a complex schema with multiple files and this issue seems to compound when I reference to other files:

[code]

[code]

The output it generates looks like this:

![image](https://user-images.githubusercontent.com/902354/126521067-29c9fb1b-f673-4bde-b54b-9bf97c73f845.png)

[2021-07-21 16:06] magicmatatjahu commented on #239
@djdjoko Yes exactly, it infers all schemas, also subschemas. I merged fix in https://github.com/asyncapi/asyncapi-react/pull/399, so please wait few minutes to publish new version of html-template :)

[2021-07-21 16:12] magicmatatjahu commented on #239
@djdjoko You can use the newest version of component `@asyncapi/html-template@0.23.4`. Let me know if everything is good :) Currently will be rendered only schemas from `components/schemas` section.

[2021-07-21 16:12] #239 closed

[2021-07-21 19:46] djdjoko commented on #239
Thank you for the quick fix! It works if I render it from one file. If I render it from multiple files I am still getting following:

![image](https://user-images.githubusercontent.com/902354/126550470-36ef8257-cbea-438c-91fb-68196ee1aeb1.png)

Thanks again for looking into this!

[2021-07-22 07:45] magicmatatjahu commented on #239
@djdjoko It's intentional 😄  https://github.com/asyncapi/parser-js, which produces the parsed schema in generator, treats some schemas (like plain schemas - without `$ref` - in the `message/payload` etc.) as anonymous, so by this you see the internal uid (anonymous) for the schema. If you think that it's a bug, please create the issue [here](https://github.com/asyncapi/asyncapi-react/issues/new?as

[2021-07-22 11:54] djdjoko commented on #239
Makes sense! Thanks again. I can set the Names with the `name` property in the multifile scenario :)

[2021-07-22 12:40] magicmatatjahu commented on #239
@djdjoko Yes, I forgot about it that we try to use the `name` field and `anonymous...` is the fallback 😅

[2021-07-26 06:39] magicmatatjahu commented on #67
Similar issue https://github.com/asyncapi/html-template/issues/165

It's related to issue in the ParserJS repo - https://github.com/asyncapi/parser-js/issues/293 We need to wait for the PR in the mentioned repo.

[2021-07-26 20:40] derberg commented on #239
@magicmatatjahu we should not display any of `x-parser` related extensions in generated documentation, there are purely internal extensions not for user's eyes. Afaik we were hiding it everywhere in the past

[2021-07-27 07:06] magicmatatjahu commented on #239
@derberg I know, and we don't render any internal extensions from parser, you can see filtering for that [here](https://github.com/asyncapi/asyncapi-react/blob/next/library/src/helpers/schema.ts#L259). Above problem was related to rendering of the messages and schemas. In previous solution we used `allMessages()` and `allSchemas()`  and if you used plain schema/message then you ended with `<anonym

[2021-07-30 18:10] DavidBiesack commented on #188
I'm not referring to merging the `allOf` schema presentation in the middle panel (although that would be a useful feature), but rather the  example shown in the rightmost panel when I select an operation on the left navigation. At present,
html-template shows only the properties in the top-level example of the message schema, not those from other `allOf` schemas used to compose the message schema.

[2021-07-30 20:23] magicmatatjahu commented on #188
@DavidBiesack Thanks for good explanation of your problem on complex example. I'm very appreciate that.

[code]

output is intended. I hasten to explain on the `messageX` schema from your spec:

[code]

you have defined `allOf` but in the root of the schema you have defined manually `example` as `x: bar`. Under the hood we use the [openapi-sampler](https://github.com/Redocly/openapi-sampler) and i

[2021-08-02 12:41] DavidBiesack commented on #188
Thanks --- I was hoping the `openapi-sampler` would help me more. What I really want to do is to express only _changed_ properties in each example. I guess I can't do it with a top-level `example` in each schema, although I think I can do it with examples in the schemas within the `allOf` or `properties`. It's a bit more indirect, but I think I can make it work.

[2021-08-02 12:41] #188 closed

[2021-08-20 05:40] btimby opened #252 "html-template: apparent problem with generate:before hook"
#### Describe the bug

I am using the following packages:

[code]

I am receiving the following error:

[code]

I found that disabling the hook would avoid the error. Further, the change in this PR also seems to fix the issue. The problem is that the first argument to the hook is an instance of `Generator`, which does not have an `asyncapi` attribute, thus the `asyncapi` variable is undefined.

##

[2021-08-20 05:42] btimby commented on #252
I have a PR here that apparently fixes the issue:

https://github.com/asyncapi/html-template/pull/251

It is likely that I am doing something wrong. However, I inspected the parameter passed into the hook and it has no `asyncapi` property. Further, no other property seems to have `info` or `version` or `_json` properties. The other hooks do not utilize the `asyncapi` property, and thus function.

[2021-08-20 05:48] btimby opened #253 "I would like to add a templateParam to inject custom css."
#### Reason/Context
Please try answering few of those questions
- Why we need this improvement?
- How will this change help?
- What is the motivation?

This improvement will allow customization of the generated HTML styles. I want this feature to hide the sidebar. In my project, the sidebar is useless as I have but a single channel (thus navigation makes no sense) and the sidebar takes up space. I

[2021-08-20 05:50] btimby commented on #253
This proposal would function much like a similar feature in `swagger-ui-express`:

https://github.com/scottie1984/swagger-ui-express#custom-css-styles

[2021-08-20 11:35] jonaslagoni commented on #252
@btimby is there a specific use-case, that fuels you pre-parse the AsyncAPI document? 🤔

Pretty sure this will fix your issue:
[code]

[2021-08-20 13:39] btimby commented on #252
@jonaslagoni Thanks for the reply.

Indeed, the first solution I tried is identical to your first example, however, when doing that, I get the following exception:

[code]

The second example is undesirable to me, because I use the schema with multiple libraries, document generation is but a single step. I strongly prefer to import the json schema one time and utilize it multiple times, rather tha

[2021-08-20 13:48] btimby commented on #252
FYI, at the referenced line number:

[code]

FWIW: I am using swagger / openapi in the same manner as your first example, I am able to pass the imported `.json` schema directly to all of the tools I am using. This would be my preferred approach, as I am attempting to integrate the documentation of my websocket api with that of my rest api.

[2021-08-20 13:54] btimby commented on #252
Looking at the unit tests for `html-template`, I came across this:

https://github.com/asyncapi/html-template/blob/master/test/filters/all.test.js#L58

However, when I follow that pattern, I receive the same error.

[code]

[code]

[2021-08-20 14:01] btimby commented on #252
TBH, I am confused how this hook could EVER work. The generator class does not define a property named `asyncapi` so I don't see how this could ever be destructured from the hook argument.

[2021-08-20 14:05] jonaslagoni commented on #252
It does - https://github.com/asyncapi/generator/blob/master/docs/api.md#generatorasyncapi--asyncapidocument

Trying to see where all this goes wrong 🧐

[2021-08-20 14:06] jonaslagoni commented on #252
Think I found it, 2 seconds.

[2021-08-20 14:10] btimby commented on #252
@jonaslagoni Thanks for looking. I know the docs mention that property, but at runtime it does not exist for me, and grepping the code does not reveal where it is defined. I typically ignore docs and look at code instead.

[2021-08-20 14:14] jonaslagoni commented on #252
It's a good thing to do because it does not include it 😄 Not when you use it as a library (when used through the CLI it works fine because it calls different functions. It is a bug with the generator itself.

For your workaround you can do:
[code]

I dont have time to fix the bug in the generator, if you do feel free to take charge here 🙂

Generate - https://github.com/asyncapi/generator/blob/951e

[2021-08-20 14:16] btimby commented on #252
OK, that makes sense. I will close my other PR and open one to fix this issue.

[2021-08-23 09:58] magicmatatjahu commented on #253
@btimby Hello! Thanks for the issue. The custom css for html-template will be added when we will resolve these issues in the react-component, which renders the html under the hood:

- https://github.com/asyncapi/asyncapi-react/issues/370
- https://github.com/asyncapi/asyncapi-react/issues/369
- https://github.com/asyncapi/asyncapi-react/issues/368

For your case with hiding the sidebar, we already

[2021-08-24 16:34] btimby commented on #253
@magicmatatjahu That sounds like a much better idea. Not knowing how the HTML is generated or what libraries were used, I was happy with simply hiding the sidebar. However, if there are mechanisms for disabling the rendering of it, so much the better.

I will investigate how to do this instead of custom css.

[2021-09-08 19:01] flamewow opened #256 "remove puppeteer from dependencies"
#### Reason/Context
Please try answering few of those questions
- Why we need this improvement?
**puppeteer is used only for PDF generation while being quite heavy (~200Mb)**
- How will this change help?
**download time will be increased drastically**
- What is the motivation?
**PDF generation is not used very often and for users that are not using it at all 200Mb overhead is way too much**

####

[2021-09-09 07:46] magicmatatjahu commented on #256
@flamewow Hi! Thanks for the issue. Usually if you install a template once then the `puppeter` should be cached and reused in the next render. The problem may be the CI environment, where the `puppeter` will be installed with every job and I agree this can be frustrating.

I can't understand how do you want pass puppeteer instance as a parameter. Using Generator API it can be easy to do, but how d

[2021-09-09 09:09] derberg commented on #256
yeah, it is not really puppeteer that is heavy here but chromium and you can skip it as @magicmatatjahu mentioned.

unfortunately, we do not know that really

if using `PUPPETEER_SKIP_CHROMIUM_DOWNLOAD` is not something that satisfies you, the only good solution would be to completely remove PDF support from this template really and create a separate template like, `pdf-template`. Positive side ef

[2021-09-10 08:25] flamewow commented on #256
@derberg creating a separate pdf-template package (will depend on html-template I would guess) sounds like a great option.
Ofc that's additional overhead for package management (and that's on you guys, to keep it under @asyncapi namespace in npm registry). Will be able to help with the code

[2021-09-13 09:50] derberg commented on #256
this part is easy, we have releases and deps update inside asyncapi org fully automated.

definitely. I haven't seen the code that generated pdf for some time but should be easy to port to new template and use `html-template` as dependency

would you be able to handle this with just our guidance, and best to become CODEOWNER of the template?

[2021-09-16 13:34] flamewow commented on #256
@derberg
How would we approach that?

in both cases, i.e. just contributor and codeowner

[2021-09-16 15:30] derberg commented on #256
so it would look like this:
- we create a new repo
- you create PR to remove puppeteer from `html-template`
- there also needs to be PR opened to Generator to remove some stuff from dockerfile https://github.com/asyncapi/generator/blob/master/Dockerfile#L5-L10
- and yeah, a PR to new repo where you create a template for pdf generation basically
- in PR to new repo you also create a CODEOWNER file

[2021-09-25 17:34] flamewow commented on #256
Sounds good, let me start with "create a template for pdf generation",
once it works I'll message you (let me know how) so we can continue with next steps:
- create a new repo for pdf-template
- PR to remove puppeteer from html-template
..

[2021-09-27 09:54] magicmatatjahu commented on #203
@M3lkior Do you still have the problem with the hovering sidebar?

[2021-09-27 11:47] derberg commented on #256
@flamewow you can tag me here or just join [our Slack](https://www.asyncapi.com/slack-invite) and ping me there in #tooling channel. Also, next week because of the hackathon we organize and also hacktoberfest I will be live-streaming a `Contributor first` meeting, every Wednesday, throughout the entire October. Feel free to join, on any platform where stream goas or live on zoom in case you need s

[2021-09-27 11:53] magicmatatjahu commented on #252
@btimby As I see you fixed problem in the https://github.com/asyncapi/generator/pull/631 PR, so I will close the issue. Feel free to reopen and comment if you think that issue is still relevant :)

[2021-09-27 11:53] #252 closed

[2021-09-27 11:55] magicmatatjahu commented on #165
Similar issue #67

It's related to issue in the ParserJS repo - asyncapi/parser-js#293 We need to wait for the PR in the mentioned repo.

[2021-09-27 11:55] magicmatatjahu commented on #67
I close the issue in favour of https://github.com/asyncapi/html-template/issues/165

[2021-09-27 11:55] #67 closed

[2021-09-27 12:27] M3lkior commented on #203
I test again, and the sidebar is now correctly shown but i think that the collapsible sidebar feature is a good ux feature :)

[2021-09-27 14:48] magicmatatjahu commented on #19
Moving to the `asyncapi-react` repo.

[2021-09-27 14:51] magicmatatjahu commented on #203
At the moment I am busy with something else, but I will mark this issue with `Hacktoberfest` label - someone should apply for this task :)

[2021-09-27 14:51] magicmatatjahu commented on #203
Moving to the `asyncapi-react` repository.

[2021-09-29 07:45] pioneer2k opened #264 "TypeError: channel.servers is not a function"
#### Describe the bug
We are using a combination of "GitHub Actions" Action asyncapi/github-action-for-generator@v1.0.35 with template '@asyncapi/html-template@0.23.5' for some weeks now. Everything worked fine. Since yesterday we get in error in our GitHub Actions Pipelines:
Error: (/home/runner/work/_actions/asyncapi/github-action-for-generator/v1.0.35/node_modules/@asyncapi/html-template/templa

[2021-09-29 07:59] derberg commented on #264
`channel.servers` is used starting from `v0.23.9` because of asyncapi 2.2 release so this is super weird that in version `v0.23.5` you get this error too 🤔

[2021-09-29 08:00] derberg commented on #264
what I'm trying to say is, the issue would make sense only if you use `v0.23.9` because generator in the action is not yet updated with latest version 🤔

[2021-09-29 08:00] PB-TW commented on #264
I have the same error for the same version combination. It started appearing yesterday afternoon.

[2021-09-29 08:07] magicmatatjahu commented on #264
It appears that the generator is using an older version, while the template itself downloads the latest version of `react-component` -> https://github.com/asyncapi/html-template/blob/master/package.json#L37

[2021-09-29 08:19] magicmatatjahu commented on #264
Created PR with fix - https://github.com/asyncapi/asyncapi-react/pull/445 We shouldn't wait for fixed generator action.

[2021-09-29 10:02] magicmatatjahu commented on #264
@pioneer2k @PB-TW Please use the latest version of html-template `0.23.10`. Make sure that you use this version, and let us know about problems.

[2021-09-29 11:30] magicmatatjahu commented on #264
Thank your for info! As if there are any problems please ping me in this issue. I will close the issue.

[2021-09-29 11:30] #264 closed

[2021-11-04 13:49] jonaslagoni opened #280 "Create clear information about maintainers"
#### Reason/Context
At the moment it is not possible to see who maintains the repo.

#### Description
I would add the following:
- A CODEOWNER file
- Adapting any-contributors table to show maintainers

[2021-11-04 13:50] magicmatatjahu commented on #280
`all-contributors` we have 😄

[2021-12-03 21:03] jyotibhangale opened #289 "For Avro payload format, if examples message is specified in yaml, html generator fails"
#### Describe the bug
For Avro payload format, if examples block is specified in yaml, html generator fails with error

#### How to Reproduce
 ag .\user_signedup.yaml @asyncapi/html-template

Something went wrong:
Error: There were errors validating the AsyncAPI document.
    at parse (C:\Users\jyotibhangale\AppData\Roaming\npm\node_modules\@asyncapi\generator\node_modules\@asyncapi\parser\lib\par

[2021-12-03 21:41] magicmatatjahu commented on #289
@jyotibhangale Hello. It's not a problem with html-template but with your AsyncAPI document. Extended examples with `summary` field is from `2.1.0` version of spec, and also `examples` are an array of object, not array of objects with one field (ad id), so you should change your examples to the:

[code]

shape. Also, please don't write payload as string (atm you write as string), but as object:

[

[2021-12-06 14:03] magicmatatjahu commented on #289
@jyotibhangale I will close issue, please reopen it if you have more questions/problems.

[2021-12-06 14:03] #289 closed

[2021-12-06 17:12] magicmatatjahu commented on #289
@jyotibhangale Did you change also the version of spec?

Here is a valid spec:

[code]

The problem may also be that you are using an old version of the generator/template. Please install the latest generator:

[code]

and use the latest version of template:

[code]

Let me know if everything is good :)

[2021-12-06 20:43] jyotibhangale commented on #289
Hi, also wanted to understand if I have multiple ayncapi specs and want to generate html documentation on single page, is that possible? I have to create individual directory for each spec.

[2021-12-06 22:20] magicmatatjahu commented on #289
@jyotibhangale At the moment generator only can handle single AsyncAPI document, so we have a limit here. In some cases, like generating servers or server clients based on AsyncAPI, "generating" several specs does not make sense, but in case of html-templates and widely understood documentation templates (including markdown) such solution would make sense.

As far as I know, AsyncAPI 3.0.0 version

[2021-12-27 08:20] vanyakosmos opened #300 "Describe how to use template in other environments"
#### Reason/Context

For some project it would be convenient to be able to generate html template for asyncapi on the fly, but right now it is not clear how to do this.

On the fly docs generation is literally the only way I use openapi spec.

I tried to integrate asyncapi into python-fastapi application. Found some outdated lib which used old html-template and jinja2 templating engine and I tried

[2021-12-27 08:40] derberg commented on #300
@vanyakosmos Welcome! I'd love to help you but need some clarification. When you say "on the fly" you mean "on request". That you can have a UI like studio.asyncapi.io where you provide the AsyncAPI document and automatically get documentation generated? Example preview with hidden editor -> https://studio.asyncapi.com/?url=https://raw.githubusercontent.com/asyncapi/spec/master/examples/streetligh

[2021-12-27 14:27] derberg commented on #253
@magicmatatjahu where are we with this one?

[2021-12-27 14:29] derberg commented on #187
@magicmatatjahu this one is still valid?

[2022-01-03 09:26] magicmatatjahu commented on #300
@vanyakosmos Hello! As derberg wrote, for rendering on the fly you can use our https://github.com/asyncapi/asyncapi-react/tree/next component. One of our contributors creates `asynction` framework based on python and did this to render spec https://github.com/dedoussis/asynction/blob/main/asynction/templates/index.html.j2 You can reuse that logic. Please also check documentation for rendering spec

[2022-01-03 12:45] magicmatatjahu commented on #11
I don't know if we should handle that issue in the near future. `allOf` in the JSON Schema doesn't mean that "objects" should merged but the payload itself should be compatible with all schemas defined under `allOf` and this is a big difference, because during merging we may forget some elements and the final schema will not be correct referring to the original. WDYT @derberg @fmvilas? Of course `

[2022-01-03 12:53] magicmatatjahu commented on #187
@derberg That as I remember that issue was "noticed" after moving to the React component but problem was also in the previous solution with Nunjucks. I wonder why we have this parameter? Do you remember? I don't know if it's possible to fix `baseHref` as well as to have still anchors, and I don't want to do weird workarounds.

[2022-01-03 12:59] magicmatatjahu commented on #253
@derberg @btimby Created [PR](https://github.com/asyncapi/html-template/pull/254) but I didn't have any info from August. I will wait max two weeks for response and then I'll decide what to do with that.

[2022-01-03 13:08] magicmatatjahu commented on #185
Still walid. I will annotate that by `good first issue` label.

[2022-01-03 14:25] derberg commented on #187
@magicmatatjahu it is important feature for use case like with GitHub Pages for example. Look at https://github.com/derberg/test-experiment/blob/master/.github/workflows/main.yml#L30 where I need to specify `baseHref` because my docs are deployed to https://derberg.github.io/test-experiment/ and therefore without `<base href="/test-experiment/">` CSS files would be fetched from `https://derberg.gi

[2022-01-03 15:34] derberg commented on #11
I'm supporting merging only if this is optional as I stated above because there might be people that designed their schemas in a way that it will always be valid when we merge in one.

[2022-01-03 15:41] magicmatatjahu commented on #187
@derberg Right, but as I see that problem with `baseHref` is that we have absolute path to the css, not relative `css/...` and it should be `./css/...` and your problem will be resolved. I wonder if people use `baseHref` for another purposes that yours 🤔

[2022-01-03 16:12] derberg commented on #187
no, changes in paths will not solve it, at least as far as I remember I tried it, but don't remember details, it was long time ago

I know people use it as this option did not come from me but from the community. Here is initial issue https://github.com/asyncapi/generator/issues/205

[2022-01-05 16:56] btimby commented on #253
@magicmatatjahu I should have a chance to address your review tomorrow. I am sorry but I missed the notifications (until today).

[2022-01-19 08:22] derberg commented on #163
@magicmatatjahu @mcturco shouldn't we move it under react component repo and prioritize from the perspective of upcoming brand changes and design system creation?

[2022-01-19 08:24] derberg commented on #43
This one is tricky with current stage of bindings. @magicmatatjahu I think it should be moved under react component

[2022-01-19 11:31] magicmatatjahu commented on #163
@derberg Right! I will move it, thanks!

[2022-01-19 11:32] magicmatatjahu commented on #43
@derberg Right! I will move it, thanks!

[2022-01-20 12:28] ritik307 commented on #185
@derberg @magicmatatjahu I would like to work on it but can you kindly elaborate on the issue

[2022-01-20 13:01] magicmatatjahu commented on #185
@ritik307 Hello! Yeah, no problem, we can discuss. Main improvement here will be change Nunjucks templates to the JSX files (React components). Atm our generator supports two render engines, mentioned Nunjucks and JSX - more info about JSX and Nunjucks is here:
- JSX https://github.com/asyncapi/generator/blob/master/docs/authoring.md#react-1
- Nunjucks https://github.com/asyncapi/generator/blob/ma

[2022-01-20 16:03] ritik307 commented on #185
hi @magicmatatjahu correct me if am wrong, initially, I have to convert `index.html` to a JSX template `index.jsx`

[2022-01-20 16:08] magicmatatjahu commented on #185
@ritik307 Yes exactly, but you can use `.js` extension, not `.jsx` :)

[2022-01-20 17:09] ritik307 commented on #185
@magicmatatjahu I am currently facing so many errors while setting up the project. Can you kindly provide me with the steps to set up the project correctly?

Following are the steps that I followed while setting up the project.

1. npm install -g @asyncapi/generator.
2. npm run develops (showed errors that files are missing so I ran npm install but it is still showing some error).
3. npm run devel

[2022-01-20 17:15] magicmatatjahu commented on #185
@ritik307 Strange, I will check that, but you can also use that steps to test your changes:

[code]

[2022-01-20 17:26] ritik307 commented on #185
It worked 🎉 but I am getting a small error
![ss1](https://user-images.githubusercontent.com/22374829/150390242-d2119d97-7656-4af6-8ff4-c76e19d46423.png)

[2022-01-20 17:29] magicmatatjahu commented on #185
Personally I don't use `--watch-template` flag. I always generate template by:

[code]

after some changes to not to make unnecessary generations. If you will have any problems/question please ask :)

[2022-01-20 17:31] ritik307 commented on #185
got it

[2022-01-25 08:00] arjangeertsema commented on #256
This has become even more relevant: https://github.com/puppeteer/puppeteer/issues/7921

[2022-02-02 23:38] xBlaz3kx opened #322 "Misplaced/improperly rendered Example section when using wider screens"
#### Describe the bug

Misplaced **Example** section of the docs. Probably has something to do with CSS file and how it is generated, since resizing the browser window put it in it's designated place.

#### How to Reproduce

Generated the site with Docker using `-o /app/output /app/asyncapi.yaml @asyncapi/html-template --force-write` and deployed with Nginx. Tried with version 2.0.0. and 2.2.0 of

[2022-02-07 13:21] magicmatatjahu commented on #300
@vanyakosmos Any feedback? :)

[2022-02-10 12:43] duxi90 commented on #256
There is also this issue to take into consideration:
https://github.com/puppeteer/puppeteer/issues/6622#issuecomment-906476717

[2022-02-10 13:22] magicmatatjahu commented on #256
@arjangeertsema @duxi90 Thanks for raise that issues! We have to do something about these problems, but you can still use html templates without puppeter via flag:

[code]

[2022-03-11 15:41] mcturco opened #331 "Update README with new logo banner"
#### Reason/Context
This is to replace the old AsyncAPI logo in this repo's README with the banner attached below that represents the new branding.

**Here are a few guidelines for this change as well:**
1. Make sure you are using [Markdown syntax](https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax) onl

[2022-03-11 15:41] mcturco commented on #331
/gfi design

[2022-03-15 10:21] #331 closed

[2022-03-17 12:37] #280 closed

[2022-03-24 16:06] trsh opened #334 "If / then / else blocks generate incomplete document"
#### Describe the bug
If / then / else blocks generate incomplete document

#### How to Reproduce
Use something like this:
[code]

Results:

![hhhhhhhhhhhhhhhh9](https://user-images.githubusercontent.com/3727523/159959496-988071fd-aab0-4b90-9058-e99e097950dd.png)

#### Expected behavior
Something that clearly states, that if type is 'private', secret is required.

[2022-03-25 08:06] trsh commented on #334
Another problem, when using `IF`
![rrrrrrrrrrrrrrrr5](https://user-images.githubusercontent.com/3727523/160080008-7819b786-d9bc-4c8f-a1eb-d1f201a3d6c0.png)

[2022-03-31 09:22] knowack1 opened #338 "Array of objects has wrong uid in generated HTML"
#### Describe the bug
Array of objects has  uid of object scheme instead of uid of array scheme

#### How to Reproduce
[code]
![image](https://user-images.githubusercontent.com/10926932/161010171-302a6b63-4c66-4382-9496-7ccfdf3f5997.png)

#### Expected behavior
uid to be set according to schema. In the example above should be "Payload" instead of "Object"
![image](https://user-images.githubusercon

[2022-04-05 08:45] derberg commented on #338
@magicmatatjahu I played a bit with example from @knowack1 and I don't think it is related to some bug in the parser. Looks like react component totally ignores `uid` from `Payload` schema

[2022-05-10 08:57] derberg commented on #187
still a valid bug and issue that needs a solution

[2022-05-10 08:59] derberg commented on #11
I'm wondering if we should not have it solved on parser side, have a helper that allows to return merged schema, so in react template we just make it optional by props.

anyway moving to react as it should be solved there

[2022-05-10 12:22] derberg commented on #253
ping pong anybody out there 😄

[2022-05-12 12:59] dsandor opened #348 "Package will not install on an Apple Silicon M1 processor based machines."
#### Describe the bug
Package will not install on an Apple Silicon M1 processor based machines. This is ultimately due to the version of pupeteer being used.

#### How to Reproduce
On an M1 / Apple Silicon arm64 machine simply run the following command:

`npm i -g @asyncapi/html-template @asyncapi/generator`

[code]

Executing the puppeteer dependency by itself using the latest version appears to

[2022-05-16 09:06] derberg commented on #348
@dsandor is it still possible to generate PDF after puppeteer update?

[2022-05-16 10:47] magicmatatjahu commented on #348
@dsandor Hi! Let us know about Łukasz's question and we will merge fix https://github.com/asyncapi/html-template/pull/351

[2022-05-16 14:18] dsandor commented on #348
Can you give me a pointer on how to test this?  I tried `npm install` and providing the pull request path.  I can confirm that the version of puppeteer you added to the package.json does install on my M1.  But I can't figure out how to test the PR :)

[2022-05-16 14:54] magicmatatjahu commented on #348
@dsandor The easiest way is to download the zip (or git if you like) of my branch https://github.com/magicmatatjahu/html-template/tree/fix/update-pupetter, extract, install the dependencies by `npm install` and generate the documentation via

[code]

(it should be run inside extracted folder, because second argument `./` points to this extracted folder with template)

I could do it myself, but you

[2022-05-23 08:17] #348 closed

[2022-05-23 08:55] magicmatatjahu commented on #348
@dsandor Hello! We just published `0.24.10` version with updated puppeter. Let us know about problems!

[2022-05-23 12:29] dsandor commented on #348
@magicmatatjahu Works perfectly!  Thanks for the quick turn around.

[2022-05-23 12:30] magicmatatjahu commented on #348
@dsandor Hah, It wasn't that quick, but I'm glad it works! :)

[2022-06-21 13:20] pratik2315 commented on #256
I have a question that might sound a bit silly😅
When we talk about creating a new repo, how do we actually link it to the organization repo. I mean if I start creating a new repo for html-template, it will be under my `username/repo`, from there on how do submit a PR to the asyncapi organization? Or are we talking about forking the current repo, removing all the puppeteer related things from it an

[2022-07-24 06:56] trsh commented on #334
This report is still valid. If nobody cares about issues for this repo, then why leave a github garbage cleaner on?

[2022-07-25 08:00] magicmatatjahu commented on #334
To remind about issues that have escaped attention ;)

As far as your problem is concerned this should not be a problem in showing `required`, however, I wonder if there are other JSON Schema keywords that have similar semantic value as `required`.

As for the example on the right, there is nothing we can do about it, because we are using a simple and lightweight library to generate these exemplar

[2022-07-25 08:08] trsh commented on #334
Welp maybe there are better options?

[2022-07-25 08:20] magicmatatjahu commented on #334
There are other libraries, but they add a lot of kilobytes to the final bundle (and use nodeJS core libraries), and this is what we want to avoid, which is why we chose https://github.com/Redocly/openapi-sampler. I'm just wondering why your example only generates `type` as it should also generate other fields (but without including if/then/else):

![image](https://user-images.githubusercontent.com

[2022-09-13 16:04] JarnoRFB opened #367 "Allow setting favicon"
#### Reason/Context
To brand the generated docs a little bit, it would be nice to be able to set a favicon.

#### Description
The basic idea is to pass a URL via a parameter and use that as a favicon. A further option would be to get the favicon from a local file.

[2022-09-22 09:32] char0n opened #375 "AsyncAPI 2.5.0 pre-release notice"
This is a notification for code owners of this repository (@fmvilas @derberg @magicmatatjahu) to be aware of AsyncAPI 2.5.0 pre-releases:

- https://github.com/asyncapi/spec/releases/tag/v2.5.0-next-spec.2
- https://github.com/asyncapi/spec/releases/tag/v2.5.0-next-spec.3
- https://github.com/asyncapi/spec/releases/tag/v2.5.0-next-spec.4
- https://github.com/asyncapi/spec/releases/tag/v2.5.0
- htt

[2022-09-24 12:32] char0n commented on #375
Update: Following release candidate of AsyncAPI 2.5.0 spec has been just published:  https://github.com/asyncapi/spec/releases/tag/v2.5.0-next-spec.3

[2022-09-27 07:26] char0n commented on #375
Update: Following release candidates of AsyncAPI 2.5.0 spec has been just published:
- https://github.com/asyncapi/spec/releases/tag/v2.5.0-next-spec.4
- https://github.com/asyncapi/spec-json-schemas/releases/tag/v2.15.0-next-spec.3

[2022-09-29 11:44] magicmatatjahu commented on #375
Resolved by https://github.com/asyncapi/html-template/pull/377

[2022-09-29 11:44] #375 closed

[2022-10-03 06:10] y-nk commented on #256
Any update on this? We'd be interested too.

[2022-10-03 07:39] magicmatatjahu commented on #256
@y-nk Hi! No, we currently have no interested person to do it, and ourselves we have assigned it as future task - I don't have time for that at the moment.

[2022-10-11 09:22] smoya opened #380 "Migrate package-lock.json file to version 2"
#### Reason/Context

Parser-JS [requires now](https://github.com/asyncapi/parser-js#develop) Node.js 14 and npm7 or higher.
This means `package-lock.json` version should be always set to `2`.

#### Description

In order to unify development requirements, I suggest all repositories to stick with that requirements. In order to do that, the following is needed:

- Clarify this requirement under Devel

[2022-10-11 11:09] #300 closed

[2022-11-03 09:08] llobetrj opened #387 "Add timeout parameter to use in pdf generation"
#### Reason/Context
Please try answering few of those questions
- Why we need this improvement?
- How will this change help?
- What is the motivation?
Some times the pdf generation consumes more than the default timeout used in puppeteer that is 30 segs. So this change will allow to generate the PDF's that consumes more time than the default.

#### Description
Please try answering few of those que

[2022-11-03 09:14] magicmatatjahu commented on #387
@llobetrj if you will have a problem let me know!

[2022-11-03 16:40] #387 closed